// scss-lint:disable ColorVariable
$slots--font-family: $app--font-family;
$slots--font-size: rem(1);
$slots--border-width: 1px;
$slots--border-style: dashed;
$slots--border-color: null;
$slots--border-radius: 0.1875em;
$slots--font-weight: font-weight('normal');
$slots--height: 2.5em;
$slots--cursor: pointer;
$slots--margin: 0.5em 0;
$slots--background-color: (
  'default': color('white', null, 0.8),
  ':hover': color('white', null),
);
$slots--color: (
  'default': color('grey', 'dark'),
  ':hover': color('grey', 'darker'),
);

$slots-select--open-width: 200px;

$slots-label--gutter: 0.625em;
$slots-labelicon--size: (
  'default': 1em,
  '-sm': calc(100% - 1em),
);
