@import '../../../globals/utils/rem';
@import '../../../globals/utils/color';
@import '../../../globals/utils/font';

$alert--font-family: $app--font-family;
$alert--font-size: rem(1);

$alert--color: (
  '-success': darken(color('green', 'light'), 40%),
  '-info': darken(color('blue', 'light'), 40%),
  '-warning': darken(color('orange', 'light'), 50%),
  '-danger': darken(color('pink', 'light'), 50%),
);

$alert--background-color: (
  '-success': color('green', 'light'),
  '-info': color('blue', 'light'),
  '-warning': color('orange', 'light'),
  '-danger': color('pink', 'light'),
);

$alert--border-width: 1px;
$alert--border-style: solid;
$alert--border-color: (
  '-success': darken(color('green', 'light'), 30%),
  '-info': darken(color('blue', 'light'), 30%),
  '-warning': darken(color('orange', 'light'), 30%),
  '-danger': darken(color('pink', 'light'), 30%),
);
$alert--border-radius: 0.250em;
$alert--margin: 0 0 2em;
$alert--text-align: null;

$alert-body--padding: rem(1);