@mixin color-helper--declarations($name, $value, $variant: null) {
  $selector-name: if($variant, $name + '-' + $variant, $name);

  .#{$app--prefix}-bg--#{$selector-name} {
    background-color: $value;
  }

  .#{$app--prefix}-color--#{$selector-name} {
    color: $value;
  }
}

@each $name, $value in $app--color {
  @if type-of($value) == 'color' {
    @include color-helper--declarations($name, $value);
  } @elseif type-of($value) == 'map' {
    @each $variant, $value in $value {
      @include color-helper--declarations($name, $value, if($variant == 'default', null, $variant));
    }
  }
}
