.#{$app--prefix}-mode-switcher {
  font-size: rem();
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.#{$app--prefix}-mode-switcher input {
  display: none;
}

.#{$app--prefix}-mode-switcher__item {
  width: $modeswitcher-item--size;
  height: $modeswitcher-item--size;
  border-width: 0;
  color: color('grey');
  margin-bottom: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: $modeswitcher--transitions;

  &:focus {
    outline-width: 0;
  }

  &:hover {
    color: color('white');
  }
}

.#{$app--prefix}-mode-switcher__backdrop {
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: $modeswitcher-item--size;
  height: $modeswitcher-item--size;
  will-change: transform;
  transform: translateX(0);
  transition: $modeswitcher--transitions;
}

@for $index from 1 through 4 {
  .#{$app--prefix}-mode-switcher input:checked:nth-child(4n + #{$index}) ~ .#{$app--prefix}-mode-switcher__item:nth-child(4n + #{$index}) {
    color: color('white');
  }

  .#{$app--prefix}-mode-switcher input:checked:nth-child(4n + #{$index}) ~ .#{$app--prefix}-mode-switcher__backdrop {
    transform: translateX((($index - 1) * $modeswitcher-item--size));
    background-color: nth($modeswitcher-backdrop--background-colors, $index);
  }
}
