{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_classes %}
    {{ parent() }} vic-view-modal
{% endblock modal_container_classes %}

{% block modal_header_title %}
    Erreurs 404
{% endblock modal_header_title %}

{% block modal_body_content %}
    <div id="victoire-blog-modal">
        <div class="row">
            <div class="col-md-12">
                <ul class="v-list-group v-list-group--main" style="border: none;">
                    {% if errors %}
                        {% for error in errors %}
                            <li class="v-list-group__item" style="border-radius: 5px; border: 1px solid lightgrey; margin: 0 0 10px 0;">
                                {% include '@VictoireSeo/Error404/_list.html.twig' with {
                                    'error': error,
                                    'form': forms[error.id]
                                } %}
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="v-list-group__item" style="border-radius: 5px; border: 1px solid lightgrey; margin: 0 0 10px 0;">
                            {% include '@VictoireSeo/Error404/_empty.html.twig' %}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock modal_body_content %}
