{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_classes %}
    {{ parent() }} vic-view-modal
{% endblock modal_container_classes %}

{% block modal_header_title %}
    {{ 'victoire.404.modal.title'|trans }}
{% endblock modal_header_title %}

{% block modal_body_content %}

    {# todo : remove style from template #}
    <style>
        .redirection-list {
            border: 1px solid lightgrey;
            border-radius: 5px;
            margin: 0 0 10px 0;
        }
    </style>

    <div id="victoire-blog-modal">
        <div class="row">
            <div class="col-md-12">
                <h4 class="d-inline">{{ 'victoire.404.list.route.title'|trans }}</h4><hr>
                {% include '@VictoireSeo/Error404/_lists.html.twig' with {
                    'listId' : 'route-list',
                    'errors' : pagerRoutes
                } %}
                <div class="vic-mt-4">
                    <h4 class="d-inline">{{ 'victoire.404.list.file.title'|trans }}</h4>
                    <a class="btn-lg btn-secondary d-inline" data-toggle="collapse" data-target="#404-files-container">
                        <i class="fa fa-plus"></i>
                    </a>
                    <div id="404-files-container" class="collapse"><hr>
                        {% include '@VictoireSeo/Error404/_lists.html.twig' with {
                            'listId' : 'file-list',
                            'errors' : pagerFiles
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $vic('a i.fa.fa-plus').click(function () {
            $vic(this).toggleClass('fa-plus fa-minus');
        });
    </script>
{% endblock modal_body_content %}
