{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_classes %}
    {{ parent() }} vic-view-modal
{% endblock modal_container_classes %}

{% block modal_header_title %}
    {{ 'modal.error404.title'|trans|raw }}
{% endblock modal_header_title %}

{% block modal_body_content %}
    <div id="victoire-blog-modal">
        <div class="row">
            <div class="col-md-12">
                {# route errors #}
                {# todo translate #}
                <h4>Routes</h4><hr>
                {% include '@VictoireSeo/Error404/_list.html.twig' with {
                    'errors': errorsRoute
                } %}
                {# file errors #}
                <div class="vic-mt-4">
                    {# todo translate #}
                    <h4 class="d-inline">Fichiers</h4>
                    <a class="btn-lg btn-secondary d-inline" data-toggle="collapse" data-target="#filesErrors-container">
                        <i class="fa fa-plus"></i>
                    </a>
                    <div id="filesErrors-container" class="collapse">
                        <hr>
                        {% include '@VictoireSeo/Error404/_list.html.twig' with {
                            'errors': errorsFile
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock modal_body_content %}
