{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_classes %}
    {{ parent() }} vic-view-modal
{% endblock modal_container_classes %}

{% block modal_header_title %}
    {{ 'modal.error404.title'|trans|raw }}
{% endblock modal_header_title %}

{% block modal_body_content %}
    <div id="victoire-blog-modal">
        <div class="row">
            <div class="col-md-12">
                {# route errors #}
                <h4>Routes</h4><hr>
                <ul id="RoutesErrors-list-container" class="vic-bordered-list">
                    {% if pager.count > 0 %}
                        {% for error in pager.currentPageResults %}
                            <li id="404Route-{{ error.id }}-item-container" class="list-group-item">
                                {% include '@VictoireSeo/Error404/_item.html.twig' with {
                                    'error': error,
                                    'form': forms[error.id]
                                } %}
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                            {% include '@VictoireSeo/Error404/_empty.html.twig' %}
                        </li>
                    {% endif %}
                </ul>
                {# file errors #}
                <div class="vic-mt-4">
                    <h4 class="d-inline">Fichiers</h4>
                    <a class="btn-lg btn-secondary d-inline" data-toggle="collapse" data-target="#filesErrors-container">
                        <i class="fa fa-plus"></i>
                    </a>
                    <div id="filesErrors-container" class="collapse">
                        <hr>
                        <ul id="filesErrors-list-container" class="vic-bordered-list">
                            {% if fileErrors.count > 0 %}
                                {% for fileError in fileErrors %}
                                    <li id="404File-{{ fileError.id }}-item-container" class="list-group-item">
                                        {% include '@VictoireSeo/Error404/_item.html.twig' with {
                                            'error': fileError,
                                            'form': fileForms[fileError.id]
                                        } %}
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li class="list-group-item">
                                    {% include '@VictoireSeo/Error404/_empty.html.twig' %}
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock modal_body_content %}
