// scss-lint:disable ColorVariable
@import '../../navbar/includes/theme';

$modals--font-size: rem();
$modals--height: calc(100% - #{value($navbars--height, ('-lg'))});
$modals--top: value($navbars--height, ('-lg'));
$modals--left: 0;
$modals--right: 0;
$modals--bottom: 0;
$modals--z-index: z-index(3);
$modals--background-color: color('white');
$modals--translate-y: (
  'default': -4em,
  '[data-modal="show"': 0,
);
$modals--duration: 300ms;
$modals--timing-function: ease-in-out;

$modals-content--padding-y: 3.125em;

$modals-heading--font-family: $app--font-family;
$modals-heading--font-size: rem('small');
$modals-heading--line-height: 1.285714286;
$modals-heading--letter-spacing: 0.071428571em;
$modals-heading--font-weight: font-weight('bold');
$modals-heading--margin: 0;
$modals-heading--text-transform: uppercase;
