<div class="v-alert v-alert--{{ theme|default('info') }}"{% if id|default(false) %} id="{{ id }}"{% endif %}>
    <div class="v-alert__body">
        {% block body %}{% endblock body %}
    </div>
</div>