<div class="vic-tab-content vic-modal-tab-content">
    {% for tab in tabs %}
        <div class="vic-tab-pane{% if loop.first %} vic-active{% endif %}" id="victoire-blog-{{tab}}">
            {{ render(controller('VictoireBlogBundle:Blog:' ~ tab, {'id' : blog.id})) }}
        </div>
    {% endfor %}
</div>