@import './includes/selectors';
@import '../../globals/utils/rem';
@import '../../globals/utils/font';

#{headings--selector()} {
  font-family: $app--font-family;
  font-weight: font-weight('bold');
  margin-top: 0;
  margin-bottom: 0.875em;
  line-height: 1.125;
}

$headings--font-sizes: rem(2.25) rem(1.875) rem(1.5) rem(1.125) rem(1) rem(0.875);

@for $lvl from 1 through 6 {
  #{heading--selector($lvl)} {
    font-size: nth($headings--font-sizes, $lvl);
  }
}
