/.buildpath
/.project
/composer.lock
/composer.phar
/vendor/*
/Tests/App/web/bundles/*
/Tests/App/web/uploads/*
/Tests/App/web/*js/*
/Tests/App/web/*css/*
/Bundle/UIBundle/Resources/config/node_modules
/nohup.out
/selenium-server-standalone-2.45.0.jar
/.behat.yml
/behat.yml
/Tests/App/app/config/parameters.yml
/Bundle/UIBundle/Resources/public/bower_components/*
node_modules
/.idea
