/.buildpath
/.project
/composer.lock
/composer.phar
/vendor/*
/Tests/Functionnal/web/bundles/*
/Tests/Functionnal/web/*js/*
/Tests/Functionnal/web/*css/*
/node_modules/*
/nohup.out
/selenium-server-standalone-2.45.0.jar
/.behat.yml
/behat.yml
/Tests/Functionnal/app/config/parameters.yml
/Bundle/UIBundle/Resources/public/bower_components/*