{% extends 'VictoireCoreBundle:Widget:Form/_modal.html.twig' %}

{% block modal_body_content %}
{% if classes|length %}
    <ul class="vic-nav vic-nav-tabs vic-modal-nav-tabs">
        <li class="vic-active vic-seperate"><a href="#static" data-toggle="vic-tab">Manuel</a></li>
        {% for class, namespace in classes %}
        <li{% if not loop.last %} class="vic-seperate"{% endif %}><a href="#{{class}}" data-toggle="vic-tab">{{ ('form.widget.tab.' ~ class ~ '.label')|trans({}, 'victoire') }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
<div class="vic-tab-content vic-modal-tab-content">
  {% for class, form in forms %}
    <div class="vic-tab-pane {% if class == 'static' %}vic-active{% endif %}" id="{{class}}">
        {{ form|raw }}
    </div>
  {% endfor %}
</div>

{% endblock modal_body_content %}

{% block action %}create{% endblock action %}
