{% trans_default_domain "victoire" %}

{% set name = widget.quantum ? widget.quantum : "widget_modal.quantum.tab.default"|trans({}, 'victoire') %}

<div class="v-flex-col">
    <button
        class="v-btn v-btn--square v-btn--quantum"
        data-collapse="show"
        data-href="#widget-{{ id }}-tab-pane"
        data-activeclass="v-btn--quantum-active"
    >
        {% include "@SVG/quantum.html.twig" with { class: 'v-btn--quantum__ic' } %}
        {{ name|truncate(2, false, '') }}
    </button>
</div>
