{% trans_default_domain "victoire" %}

{% if items|length %}
<div class="vic-row">
    <div class="vic-col-md-8">
        <ul>
        {% for item in items %}
                <li>
                    <a href="{{ path('victoire_core_page_show_by_id', {viewId: businessEntityPagePattern.id, entityId: item.id}) }}">
                        {{ app.request.getSchemeAndHttpHost() ~ path('victoire_core_page_show_by_id', {viewId: businessEntityPagePattern.id, entityId: item.id}) }}
                    </a>
                </li>
        {% endfor %}
        </ul>
    </div>
    <div class="vic-col-md-4">
        {% if businessEntityPagePattern.query != '' %}
        {{ 'list.entities.query'|trans }}: {{ businessEntityPagePattern.query }}
        {% endif %}
    </div>
</div>
{% endif %}    