{% extends 'VictoireMediaBundle:Default:layout.html.twig' %}

{% block sidebar %}
    {% include 'VictoireMediaBundle:Gallery:sidebar.html.twig' %}
{% endblock %}

{% block subbreadcrumb %}
    <li><a href="{{ path('VictoireMediaBundle_media_images') }}">{{ 'menu.images'|trans({}, 'victoire') }}</a> <span class="divider">/</span></li>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'aviary.title'|trans({}, 'victoire') }}</h1>
    </div>
    <div>
        <p>{{ 'aviary.nothing'||trans({}, 'victoire') }}</p>
    </div>
{% endblock %}
