// scss-lint:disable ColorVariable
@import '../../../globals/params/rem';
@import '../../../globals/params/font';
@import '../../../globals/params/color';

$container--enable: true !default; // not a trowel variable
$container--padding-x: rem();
$container--width: (
  'default': rem(60),
  '-fluid': 100%,
);

$grid--enable: true !default; // not a trowel variable
$grid--gutter: rem();
$grid--columns: 12 !default; // not a trowel variable

$flexgrid--enable: true !default; // not a trowel variable
$flexgrid--gutter: (
  'default': rem(0.5),
  '-gutter-lg': rem(1.1875),
);
$flexgrid--flex-wrap: wrap !default;
$flexgrid--align-items: (
  'default': flex-start,
  '-align-center': center,
);
$flexgrid--justify-content: (
  '-justify-between': space-between,
);

$flexcol--flex-grow: (
  'default': 0,
  '-grow-1': 1,
);
$flexcol--flex-shrink: (
  'default': 1,
  '-shrink-0': 0,
);
$flexcol--flex-basis: (
  '-basis-0': 0,
);
