// scss-lint:disable ColorVariable
@import '../../../globals/params/rem';
@import '../../../globals/params/font';
@import '../../../globals/params/color';

$container--enable: true !default; // not a trowel variable
$container--padding-x: rem(0.5);
$container--width: (
  'default': rem(60),
  '-fluid': 100%,
);

$grid--enable: true !default; // not a trowel variable
$grid--gutter: rem();
$grid--columns: 12 !default; // not a trowel variable

$flexgrid--enable: true !default; // not a trowel variable
$flexgrid--gutter: rem(0.5);
$flexgrid--flex-wrap: wrap !default;
$flexgrid--align-items: (
  'default': flex-start,
  '-align-center': center,
);
$flexgrid--justify-content: (
  '-justify-between': space-between,
);

$flexcol--flex-grow: (
  'default': 0,
  '-grow-1': 1,
);
$flexcol--flex-shrink: 1;
$flexcol--flex-basis: null;
