<div class="slot span2 mini-layout-body" id="default_mini_sidebar">
{{ cms_slot_widgets(view, "default_mini_sidebar")}}
</div>
<div class="slot span10 mini-layout-body" id="default_full">
{{ cms_slot_widgets(view, "default_full")}}
</div>
