<div class="row">
    <div class="slot span12 mini-layout-body" id="default_menu_bar">
    {{ cms_slot_widgets(view, "default_menu_bar")}}
    </div>
</div>
<br />
<div class="row">
    <div class="slot span3 mini-layout-body" id="default_mini_sidebar">
    {{ cms_slot_widgets(view, "default_mini_sidebar")}}
    </div>
    <div class="slot span6 mini-layout-body" id="default_full">
    {{ cms_slot_widgets(view, "default_full")}}
    </div>
    <div class="slot span3 mini-layout-body" id="default_social_sidebar">
    {{ cms_slot_widgets(view, "default_social_sidebar")}}
    </div>
</div>
