{% extends 'VictoireCoreBundle:Layout:layout.html.twig' %}
{% block meta %}<title>Backend</title>{% endblock meta %}
{% block container_attributes %}{{ parent() }} role="victoire-backend"{% endblock container_attributes %}

{% block body %}
    <div class="vic-container">
        <h1>{% block header_title %}{% endblock header_title %}</h1>
        {% block content %}{% endblock content %}
    </div>
{% endblock body %}