{% trans_default_domain "victoire" %}
<!DOCTYPE html>
<html {% block html_attr %}{% endblock %}>
    <head>
        {% block head %}
            {% block meta %}{% endblock %}
            {% block head_script %}{% endblock %}
            {% block head_style %}{% endblock %}
            {% block head_icons %}{% endblock %}
        {% endblock head %}
    </head>
    <body {% block container_attributes %}{% endblock %} class="{% block container_class %}{% endblock %}" {% block container_attr %}{% endblock %}>
        {% block victoire_ui %}{% endblock %}
        {% block body %}
            {% block body_header %}{% endblock %}
            {% block body_content %}{% endblock %}
            {% block body_footer %}{% endblock %}
        {% endblock body %}
        {% block foot_script %}{% endblock %}
    </body>
</html>
