{% trans_default_domain "victoire" %}

{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% block modal_container_classes %}{{ parent() }} vic-view-modal{% endblock modal_container_classes %}

{% block modal_body_content %}
<div class="vic-container">
    <ul class="vic-nav vic-nav-tabs vic-modal-nav-tabs">
        {% for businessEntity in businessEntities %}
        <li class="{% if not loop.last %} vic-seperate{% endif %}{% if loop.first %} vic-active{% endif %}">
            {% spaceless %}
            <a href="#picker-{{ businessEntity.getName }}" data-toggle="vic-tab">
                {{ businessEntity.getName }}
            </a>
            {% endspaceless %}
        </li>
        {% endfor %}
    </ul>

    <div class="vic-tab-content vic-modal-tab-content">
        {% for businessEntity in businessEntities %}
        <div id="picker-{{ businessEntity.getName }}" class="vic-tab-pane{% if loop.first %} vic-active{% endif %}">
            {% include 'VictoireBusinessPageBundle:BusinessEntity:list.html.twig' with {
                'businessEntity' : businessEntity,
                'BusinessTemplates' : BusinessTemplates[businessEntity.getName]
            } %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock modal_body_content %}
