@import '../../globals/params/color';

.#{$app--prefix}-dropdown .#{$app--prefix}-btn::after {
  $size: 0.6em;
  $border-width: 2px;
  content: '';
  display: inline-block;
  width: $size;
  height: $size;
  border-bottom: $border-width solid color('white');
  border-left: $border-width solid color('white');
  transform: rotate(-45deg);
  transform-origin: bottom left;
  margin-left: 1em;
  margin-bottom: 0.05em;
}

.#{$app--prefix}-flex-col {
  line-height: 1;
}

.#{$app--prefix}-flex-grid--gutter-lg .#{$app--prefix}-flex-col {
  margin: 19px;
}

.#{$app--prefix}-flex-grid--direction-column {
  flex-direction: column;
}
