#v-businessentity-index__tabs-nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#v-businessentity-list__heading {
  margin-bottom: 0;
  font-weight: normal;
}

#v-businessentity-list__header {
  margin-bottom: 22px;
}