#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: z-index(3);
  overflow: hidden;
}

.ts-body #header {
  z-index: 0;
  display: none;
}

[id^="header-drop-"] {
  z-index: z-index(5);
}
