.#{$app--prefix}-widget-form {
  position: relative;
  padding-top: 70px;
}

.#{$app--prefix}-widget-form__quantum-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.#{$app--prefix}-widget-form__mode-btn {
  position: absolute;
  top: 0;
  left: 0;
}
