parameters:
    victoire_view_reference.transformer.xmlToViewReference.class: Victoire\Bundle\ViewReferenceBundle\Transformer\XmlToViewReferenceTransformer
    victoire_view_reference.cache_warmer.class: Victoire\Bundle\ViewReferenceBundle\Cache\ViewCacheWarmer
    victoire_view_reference.array_transformer.base_page.class: Victoire\Bundle\ViewReferenceBundle\Transformer\ArrayToViewReferenceTransformer
    victoire_view_reference.array_transformer.business_page.class: Victoire\Bundle\ViewReferenceBundle\Transformer\ArrayToBusinessPageReferenceTransformer
    victoire_view_reference.xml_transformer.base_page.class: Victoire\Bundle\ViewReferenceBundle\Transformer\XmlToViewReferenceTransformer
    victoire_view_reference.xml_transformer.business_page.class: Victoire\Bundle\ViewReferenceBundle\Transformer\XmlToBusinessPageReferenceTransformer
    victoire_view_reference.repository.class: Victoire\Bundle\ViewReferenceBundle\Connector\ViewReferenceRepository
    victoire_view_reference.manager.class: Victoire\Bundle\ViewReferenceBundle\Connector\ViewReferenceManager
    victoire_view_reference.redis.repository.class: Victoire\Bundle\ViewReferenceBundle\Connector\Redis\ViewReferenceRedisRepository
    victoire_view_reference.redis.manager.class: Victoire\Bundle\ViewReferenceBundle\Connector\Redis\ViewReferenceRedisManager

services:
    victoire_view_reference.builder:
        class: Victoire\Bundle\ViewReferenceBundle\Builder\ViewReferenceBuilder
        arguments:
            - "@victoire_view_reference.builder_chain"

    victoire_view_reference.base_view_reference.builder:
        class: Victoire\Bundle\ViewReferenceBundle\Builder\BaseReferenceBuilder
        abstract: true

    victoire_view_reference.helper:
        class: Victoire\Bundle\ViewReferenceBundle\Helper\ViewReferenceHelper
        arguments:
            - @victoire_view_reference.builder

    victoire_view_reference.provider:
        class: Victoire\Bundle\ViewReferenceBundle\Provider\ViewReferenceProvider
        arguments:
            - @victoire_business_page.business_page_helper
            - @victoire_business_page.business_page_builder

    victoire_view_reference.event_subscriber:
        class: Victoire\Bundle\ViewReferenceBundle\EventSubscriber\ViewReferenceSubscriber
        arguments:
            - @event_dispatcher
        tags:
            - { name: doctrine.event_subscriber, connection: default }

    victoire_view_reference.builder_chain:
        class: Victoire\Bundle\ViewReferenceBundle\Builder\Chain\ViewReferenceBuilderChain

    victoire_view_reference.transformer_chain:
        class: Victoire\Bundle\ViewReferenceBundle\Builder\Chain\ViewReferenceTransformerChain

    #victoire_view_reference.redis.repository:
    #    class: %victoire_view_reference.redis.repository.class%
    #    arguments:
    #        - "@snc_redis.victoire"

#    victoire_view_reference.redis.manager:
#        class: %victoire_view_reference.redis.manager.class%
#        arguments:
#            - "@snc_redis.victoire"
#
#    victoire_view_reference.redis.driver:
#        class: %victoire_view_reference.redis.driver.class%
#        arguments:
#            - "@victoire_view_reference.manager"
#            - "@victoire_view_reference.repository"
#            - "@victoire_view_reference.transformer_chain"
#            - "@victoire_view_reference.url.manager"
#
#    victoire_view_reference.url.manager:
#        class: %victoire_view_reference.url.manager.class%
#        arguments:
#            - "@victoire_view_reference.redis.repository"
#            - "@snc_redis.victoire"

    victoire_view_reference.listener:
        class: Victoire\Bundle\ViewReferenceBundle\Listener\ViewReferenceListener
        arguments:
            - @victoire_view_reference.builder
            - @victoire_view_reference.manager
            - @doctrine.orm.entity_manager
        tags:
            - { name: kernel.event_subscriber }

    victoire_view_reference.transformer.xmlToViewReference:
        class: %victoire_view_reference.transformer.xmlToViewReference.class%

    victoire_view_reference.cache_warmer:
        class: %victoire_view_reference.cache_warmer.class%
        arguments:
            - @victoire_core.view_helper
            - @victoire_view_reference.repository
            - @victoire_view_reference.manager
        tags:
        - { name: kernel.event_listener, event: kernel.request, method: warmUp }

    victoire_view_reference.array_transformer.base_page:
        class: %victoire_view_reference.array_transformer.base_page.class%
        tags:
        - { name: victoire_view_reference.transformer, viewNamespace: Victoire\Bundle\PageBundle\Entity\BasePage, outputFormat: array }

    victoire_view_reference.array_transformer.business_page:
        class: %victoire_view_reference.array_transformer.business_page.class%
        tags:
        - { name: victoire_view_reference.transformer, viewNamespace: Victoire\Bundle\BusinessPageBundle\Entity\BusinessPage, outputFormat: array }

    victoire_view_reference.array_transformer.virtual_business_page:
        class: %victoire_view_reference.array_transformer.business_page.class%
        tags:
        - { name: victoire_view_reference.transformer, viewNamespace: Victoire\Bundle\BusinessPageBundle\Entity\VirtualBusinessPage, outputFormat: array }

    victoire_view_reference.xml_transformer.base_page:
        class: %victoire_view_reference.xml_transformer.base_page.class%
        tags:
        - { name: victoire_view_reference.transformer, viewNamespace: Victoire\Bundle\PageBundle\Entity\BasePage, outputFormat: xml }

    victoire_view_reference.xml_transformer.business_page:
        class: %victoire_view_reference.xml_transformer.business_page.class%
        tags:
        - { name: victoire_view_reference.transformer, viewNamespace: Victoire\Bundle\BusinessPageBundle\Entity\BusinessPage, outputFormat: xml }

    victoire_view_reference.xml_transformer.virtual_business_page:
        class: %victoire_view_reference.xml_transformer.business_page.class%
        tags:
        - { name: victoire_view_reference.transformer, viewNamespace: Victoire\Bundle\BusinessPageBundle\Entity\VirtualBusinessPage, outputFormat: xml }


    victoire_view_reference.redis.manager:
        class: %victoire_view_reference.redis.manager.class%
        arguments:
            - "@snc_redis.victoire"
            - "@victoire_view_reference.redis.repository"
        tags:
            - { name: view_reference.manager, connector: redis}

    victoire_view_reference.redis.repository:
        class: %victoire_view_reference.redis.repository.class%
        arguments:
            - "@snc_redis.victoire"
        tags:
            - { name: view_reference.repository, connector: redis}

    victoire_view_reference.manager:
        class: %victoire_view_reference.manager.class%
        arguments:
            - "@victoire_view_reference.connector.manager"
            - "@victoire_view_reference.connector.repository"
            - "@victoire_view_reference.transformer_chain"

    victoire_view_reference.repository:
        class: %victoire_view_reference.repository.class%
        arguments:
            - "@victoire_view_reference.connector.repository"
            - "@victoire_view_reference.transformer_chain"
