  /////////////
 // btn-add //
/////////////

@vic-btnAdd-borderStyle: solid;
@vic-btnAdd-background: 0;
@vic-btnAdd-color: @black;
@vic-btnAdd-borderColor: @grey;
@vic-btnAdd-hover-borderColor: @black;