  /////////////////
 // btn default //
/////////////////

@vic-btn-default-color: @black;



  ////////////////
 // btn danger //
////////////////

@vic-btn-default-borderColor: #c0392b;
@vic-btn-default-backgroundColor: #e74c3c;



  /////////////
 // btn-add //
/////////////

@vic-btnAdd-borderStyle: solid;
@vic-btnAdd-background: 0;
@vic-btnAdd-color: @black;
@vic-btnAdd-borderColor: @grey;
@vic-btnAdd-hover-borderColor: @black;