// scss-lint:disable ColorVariable
@import '../../../globals/params/rem';
@import '../../../globals/params/font';
@import '../../../globals/params/color';

// positioning
$button--vertical-align: middle;
$button--float: null;

// display & box-model
$button--display: inline-block;
$button--border-width: 0;
$button--padding: 0.785714286em 1.428571429em;
$button--width: null;
$button--margin: null;
$button--height: null;

// color
$button--color: rgb(31, 13, 51);
$button--border-color: null;
$button--background-color: (
  'default': (
    'default': rgb(255, 255, 255) darken(rgb(255, 255, 255), 10%),
    '[disabled="true"': rgb(255, 255, 255) rgb(255, 255, 255),
  ),
  '-primary': (
    'default': rgb(31, 13, 51) darken(rgb(31, 13, 51), 10%),
    '[disabled="true"': rgb(31, 13, 51) rgb(31, 13, 51),
  ),
  '-success': (
    'default': rgb(55, 211, 189) darken(rgb(55, 211, 189), 10%),
    '[disabled="true"': rgb(55, 211, 189) rgb(55, 211, 189),
  ),
  '-warning': (
    'default': rgb(255, 176, 0) darken(rgb(255, 176, 0), 10%),
    '[disabled="true"': rgb(255, 176, 0) rgb(255, 176, 0),
  ),
  '-danger': (
    'default': rgb(253, 65, 100) darken(rgb(253, 65, 100), 10%),
    '[disabled="true"': rgb(253, 65, 100) rgb(253, 65, 100),
  ),
);
$button--opacity: (
  '[disabled="true"': 0.5,
);

// text
$button--font-size: font-weight();
$button--text-decoration: (
  '-link': (
    ':hover': underline,
  )
);
$button--line-height: 1.2em;
$button--text-align: center;
$button--font-family: null;
$button--font-weight: null;
$button--text-transform: null;
$button--letter-spacing: null;

// order
$button--border-radius: 0.2em;
$button--border-style: solid;
$button--box-shadow: null;
$button--transition: null;
$button--cursor: pointer;
