.ts-snippet {
  @include styleguide-base;
  @include layout-border;
  margin-top: 0;
  margin-bottom: rem(2);
  position: relative;
  display: none;

  @include small-viewport {
    margin-left: -($main--padding + $sidebar--border-width);
    margin-right: -($main--padding + $sidebar--border-width);
  }

  &.is-active {
    display: block;
  }
}

.ts-snippet__pre {
  border: 0;
  margin-top: -$sidebar--border-width;
  border-radius: 0;
  background-color: $snippet--background-color;
  margin-bottom: 0;

  code {
    white-space: pre;
    background-color: $snippet--background-color;
  }
}

.hljs {
  @include when-inside('.ts-snippet__pre') {
    padding: rem(1);
  }
}

.ts-snippet__copy {
  @include styleguide-base;
  @include reset-button;
  @include layout-border;
  position: absolute;
  top: 0;
  right: 0;
  padding: rem(0.25) rem(0.5);
  background-color: color('white');
  cursor: pointer;
  color: $snippet-copy--color;
  margin-top: -$sidebar--border-width * 2;
  margin-right: -$sidebar--border-width;

  &:hover {
    background-color: $sidebar--border-color;
  }

  &:active {
    background-color: color('green');
    border-color: color('green');
    color: color('white');
  }
}
