$tabsnavs--font-size: rem() !default;
$tabsnavs--font-family: $app--font-family !default;
$tabsnavs--font-weight: null !default;
$tabsnavs--text-transform: null !default;
$tabsnavs--letter-spacing: null !default;
$tabsnavs--line-height: null !default;
$tabsnavs--text-align: null !default;
$tabsnavs--text-decoration: null !default;
$tabsnavs--margin: (
  '-spread': 0 0 rem(2),
);
$tabsnavs--border-width: null !default;
$tabsnavs--border-style: null !default;
$tabsnavs--border-color: null !default;
$tabsnavs--border-radius: null !default;
$tabsnavs--color: null !default;
$tabsnavs--box-shadow: null !default;
$tabsnavs--background: null !default;
$tabsnavs--background-color: transparent;
$tabsnavs--padding: (
  'default': null,
);

$tabsnavs-item--gutter: 2.5em;

$tabsnavs-anchor--font-size: null !default;
$tabsnavs-anchor--font-family: null !default;
$tabsnavs-anchor--font-weight: font-weight('bold');
$tabsnavs-anchor--text-transform: uppercase !default;
$tabsnavs-anchor--letter-spacing: null !default;
$tabsnavs-anchor--line-height: null !default;
$tabsnavs-anchor--text-align: null !default;
$tabsnavs-anchor--text-decoration: (
  ':hover': none,
  ':focus': none,
  ':active': none,
) !default;
$tabsnavs-anchor--margin: null !default;
$tabsnavs-anchor--border-width: null !default;
$tabsnavs-anchor--border-style: null !default;
$tabsnavs-anchor--border-color: null !default;
$tabsnavs-anchor--border-radius: trwl-theme('border-radius') trwl-theme('border-radius') 0 0;
$tabsnavs-anchor--color: (
  'default': color('grey'),
  ':hover': color('white'),
  ':focus': color('white'),
  ':active': color('white'),
  '~active': (
    'default': color('white'),
    ':hover': color('white'),
    ':focus': color('white'),
    ':active': color('white'),
  ),
  '-spread': (
    'default': color('grey'),
    ':hover': color('grey', 'dark'),
    ':focus': color('grey', 'dark'),
    ':active': color('grey', 'dark'),
    '~active': (
      'default': color('grey', 'darker'),
      ':hover': color('grey', 'darker'),
      ':focus': color('grey', 'darker'),
      ':active': color('grey', 'darker'),
    ),
  )
) !default;
$tabsnavs-anchor--box-shadow: null !default;
$tabsnavs-anchor--background: (
  'default': null,
) !default;
$tabsnavs-anchor--background-color: null !default;
$tabsnavs-anchor--padding: (
  'default': null,
  '-spread': rem(0.5) rem(1),
);


$tabscollapses--font-size: trwl-theme-size('md') !default;
$tabscollapses--font-family: trwl-theme('font-family') !default;
$tabscollapses--font-weight: null !default;
$tabscollapses--text-transform: null !default;
$tabscollapses--letter-spacing: null !default;
$tabscollapses--line-height: null !default;
$tabscollapses--text-align: null !default;
$tabscollapses--text-decoration: null !default;
$tabscollapses--margin: null !default;
$tabscollapses--border-width: null !default;
$tabscollapses--border-style: null !default;
$tabscollapses--border-color: null !default;
$tabscollapses--border-radius: null !default;
$tabscollapses--color: null !default;
$tabscollapses--box-shadow: null !default;
$tabscollapses--background: null !default;
$tabscollapses--background-color: null !default;
$tabscollapses--padding: trwl-theme('padding-y') 0 !default;
