@import '../../globals/params/ui-mode';

@mixin mixin-dispatcher($value, $flags, $mixin) {
  @if $mixin == 'modals--translate-y' {
    @include modals--translate-y($value, $flags);
  }
};

$modal--selector: selector--constructor(null, 'modal');
@include selector($modal--selector) {
  @include declaration('display', flex);
  @include declaration('flex-direction', column);
  @include declaration('height', $modals--height);
  @include declaration('z-index', $modals--z-index);
  @include declaration('position', fixed);
  @include declaration('top', $modals--top);
  @include declaration('left', $modals--left);
  @include declaration('right', $modals--right);
  @include declaration('bottom', $modals--bottom);
  @include declaration('background-color', $modals--background-color);
  @include declaration('pointer-events', none);
  @include declaration('pointer-events', initial, ('[data-modal="show"'));
  @include declaration('opacity', 0);
  @include declaration('opacity', 1, ('[data-modal="show"'));
  @include declaration('transition-property', all);
  @include declaration('transition-timing-function', $modals--timing-function);
  @include declaration('transition-duration', $modals--duration);
  @include declaration('-include-modals--translate-y', $modals--translate-y);

  @include block-generation($modal--selector);
}

$modal-body--selector: selector--set-element($modal--selector, 'body');
@include selector($modal-body--selector) {
  @include declaration('flex-grow', 1);
  @include declaration('display', flex);

  @include block-generation($modal-body--selector);
}

$modal-content--selector: selector--set-element($modal--selector, 'content');
@include selector($modal-content--selector) {
  @include declaration('overflow-y', auto);
  @include declaration('padding-top', $modals-content--padding-y);
  @include declaration('padding-bottom', $modals-content--padding-y);
  @include declaration('flex-grow', 1);

  @include block-generation($modal-content--selector);
}


$modal-heading--selector: selector--set-element($modal--selector, 'heading');
@include selector($modal-heading--selector) {
  @include declaration('font-family', $modals-heading--font-family);
  @include declaration('font-size', $modals-heading--font-size);
  @include declaration('line-height', $modals-heading--line-height);
  @include declaration('letter-spacing', $modals-heading--letter-spacing);
  @include declaration('font-weight', $modals-heading--font-weight);
  @include declaration('margin', $modals-heading--margin);
  @include declaration('text-transform', $modals-heading--text-transform);

  @include block-generation($modal-heading--selector);
}
