{% extends 'VictoireCoreBundle::layout.html.twig' %}

{% trans_default_domain "victoire" %}

{% block content %}
<div class="modal hide fade">
{% block modal %}
{% endblock modal %}
</div>
{% endblock content %}

{% block foot_script %}
{{ parent() }}


<script type="text/javascript">
    $(document).ready(function() {
        $('.modal').modal();
    });

</script>
{% endblock foot_script %}
