{% trans_default_domain "victoire" %}
<!DOCTYPE html>
<html>
    <head>
        {% block meta %}
            {% include 'VictoireSeoBundle::_meta.html.twig' %}
        {% endblock meta %}
        {% block head_script %}
        {% endblock %}
        {% block head_style %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body {% block container_attributes %}{% endblock container_attributes %} class="{% block container_class %}{% endblock container_class %}">
        {% block body %}{% endblock %}
        {% block foot_script %}{% endblock %}
        {% block foot_script_additional %}{% endblock %}
        {% block javascript %}{% endblock %}
    </body>
</html>
