{% trans_default_domain "victoire" %}

<div class="vic-alert vic-alert-info text-center vic-mb-0" style="margin-bottom: 0">
    {# todo translate #}
    La liste des redirections est vide !
    {#{{ 'modal.redirection.list.empty'|trans }}#}
</div>
