{% include '@VictoireSeo/Redirection/_preview.html.twig' with {'redirection': redirection} %}
<div id="redirection-{{ redirection.id }}-form-container" class="collapse {{ isOpened|default(false) ? 'in' : '' }}">
    <hr>
    {% include '@VictoireSeo/Redirection/_form.html.twig' with { 'form': form } %}
</div>
