{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_classes %}
    {{ parent() }} vic-view-modal
{% endblock modal_container_classes %}

{% block modal_header_title %}
    Redirections
{% endblock modal_header_title %}

{% block modal_body_content %}
    <style>
        {# todo move style from template #}
        .vic-text-white {
            color: white;
        }

        .redirection-list-item {
            border: 1px solid lightgrey;
            border-radius: 5px;
            margin: 0 0 10px 0;
        }
    </style>

    <div id="victoire-blog-modal">

        {# new redirecion form button #}
        <input type="submit"
            {# todo translate #}
            value="Nouvelle redirection"
            class="vic-btn vic-btn-default vic-bg-green vic-text-white"
            data-target="#new-form-container"
            data-toggle="collapse"
        >

        {# new redirection form #}
        <div class="collapse" id="new-form-container">
            {% include '@VictoireSeo/Redirection/_newForm.html.twig' with {
                'form': newForm
            } %}
        </div>

        {# redirections list #}
        <div class="row">
            <div class="col-md-12">
                <ul class="v-list-group v-list-group--main" id="redirections-list-container" style="border: none;">
                    {% if redirections %}
                        {% for redirection in redirections %}
                            <li class="v-list-group__item redirection-list-item">
                                {% include '@VictoireSeo/Redirection/_list.html.twig' with {
                                    'redirection': redirection,
                                    'form': forms[redirection.id]
                                } %}
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="v-list-group__item redirection-list-item">
                            {% include '@VictoireSeo/Redirection/_empty.html.twig' %}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock modal_body_content %}
