// scss-lint:disable ColorVariable
$inputimages--font-family: $app--font-family;
$inputimages--font-size: rem(1);
$inputimages--aspect-ratio: 16 9;
$inputimages--background-color: color('white', 'dark');
$inputimages--border-radius: 0.1875em;
$inputimages--padding: 1em;
