  /////////////////
 // Get Started //
/////////////////

@imagesPath: "img";
@layoutPath: "layout";
@vendorPath: "/vendor";
@globalsPath: "globals";
@bricksPath: "bricks";



  ////////////
 // Global //
////////////

@import "@{globalsPath}/variables";
@import "@{globalsPath}/mixins";

  ////////////
 // Bricks //
////////////

@import '@{bricksPath}/victoire/victoire';
@import '@{bricksPath}/vic-menu/vic-menu';
@import '@{bricksPath}/vic-menu-dropdown/vic-menu-dropdown';
@import '@{bricksPath}/vic-menu-leftNavbar/vic-menu-leftNavbar';
@import '@{bricksPath}/vic-switcher/vic-switcher';
@import '@{bricksPath}/vic-forms/vic-forms';
@import '@{bricksPath}/vic-dropdown-newWidget/vic-dropdown-newWidget';
@import '@{bricksPath}/vic-modal/vic-modal';
@import '@{bricksPath}/vic-widget/vic-widget';
@import '@{bricksPath}/vic-circled/vic-circled';
@import '@{bricksPath}/vic-btn/vic-btn';
@import '@{bricksPath}/vic-dragAndDrop/vic-dragAndDrop';
@import '@{bricksPath}/vic-images/vic-images';
@import '@{bricksPath}/vic-tab/vic-tab';
@import '@{bricksPath}/vic-panel/vic-panel';
@import '@{bricksPath}/vic-naturalLanguageSelect/vic-naturalLanguageSelect';
@import '@{bricksPath}/vic-items/vic-items';
@import '@{bricksPath}/vic-mini-slot/vic-mini-slot';



  ////////////
 // Layout //
////////////

@import '@{layoutPath}/general';
@import '@{layoutPath}/login';
@import '@{layoutPath}/homepage';



  /////////
 // WIP //
/////////

@import 'ugly';
@import 'cleanup';
