<div class="ts-callout{% if theme|default(false) %} ts-callout--{{ theme }}{% endif %}">
    {% if title|default(false) %}
        <h4 class="ts-callout__heading">{{ title }}</h4>
    {% endif %}

    {% block callout_description %}{% endblock %}
</div>
