// scss-lint:disable ColorVariable
$images--font-size: null;
$images--border-width: null;
$images--border-style: null;
$images--border-color: null;
$images--border-radius: (
  '-profile': 0.1875em,
);
$images--box-shadow: null;
$images--margin: null;
$images--object-fit: (
  '-profile': cover,
);
$images--height: (
  '-profile': 2.5em,
);
$images--width: (
  '-profile': 2.5em,
);
