.vic-circled {
    font-weight: @vic-circled-fontWeight;
    display: inline-block;
    border-width: @vic-circled-borderWidth;
    border-style: @vic-circled-borderStyle;
    color: @vic-circled-color;
    .radius(@vic-circled-size / 2);
    width: @vic-circled-size;
    height: @vic-circled-size;
    text-align: center;
    line-height: @vic-circled-size - (@vic-circled-borderWidth * 2);
}