{% extends "FOSUserBundle::alertLayout.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-xs-12">
            <h2>Bienvenue</h2>
            <p>Votre compte est maintenant activé.</p>
        </div>
    </div>

{% endblock fos_user_content %}
