{% include "VictoireUIBundle:Styleguide:ui/section-header.html.twig" with {
    "name": "Alert",
} %}

{% embed 'VictoireUIBundle:Styleguide:ui/snippet.html.twig' with {
    'snippets': {
        'twig': '{% embed "VictoireUIBundle:Bricks:alert.html.twig" with { theme: "success" } %}\n    {% block body %}\n        ...\n    {% endblock body %}\n{% endembed %}\n\n{% embed "VictoireUIBundle:Bricks:alert.html.twig" with { theme: "info" } %}\n    {% block body %}\n        ...\n    {% endblock body %}\n{% endembed %}\n\n{% embed "VictoireUIBundle:Bricks:alert.html.twig" with { theme: "warning" } %}\n    {% block body %}\n        ...\n    {% endblock body %}\n{% endembed %}\n\n{% embed "VictoireUIBundle:Bricks:alert.html.twig" with { theme: "danger" } %}\n    {% block body %}\n        ...\n    {% endblock body %}\n{% endembed %}',
        'html': '<div class="v-alert v-alert--success">\n    <div class="v-alert__body">\n        ...\n    </div>\n</div>\n\n<div class="v-alert v-alert--info">\n    <div class="v-alert__body">\n        ...\n    </div>\n</div>\n\n<div class="v-alert v-alert--warning">\n    <div class="v-alert__body">\n        ...\n    </div>\n</div>\n\n<div class="v-alert v-alert--danger">\n    <div class="v-alert__body">\n        ...\n    </div>\n</div>',
    }
} %}
    {% block snippet_preview %}
        {% embed "VictoireUIBundle:Bricks:alert.html.twig" with { theme: "success" } %}
            {% block body %}
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti illum ipsum quaerat quam rerum, ullam veniam voluptates? Asperiores earum facere fuga magnam modi omnis porro quasi quis repellat temporibus.
            {% endblock body %}
        {% endembed %}

        {% embed "VictoireUIBundle:Bricks:alert.html.twig" with { theme: "info" } %}
            {% block body %}
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti illum ipsum quaerat quam rerum, ullam veniam voluptates? Asperiores earum facere fuga magnam modi omnis porro quasi quis repellat temporibus.
            {% endblock body %}
        {% endembed %}

        {% embed "VictoireUIBundle:Bricks:alert.html.twig" with { theme: "warning" } %}
            {% block body %}
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti illum ipsum quaerat quam rerum, ullam veniam voluptates? Asperiores earum facere fuga magnam modi omnis porro quasi quis repellat temporibus.
            {% endblock body %}
        {% endembed %}

        {% embed "VictoireUIBundle:Bricks:alert.html.twig" with { theme: "danger" } %}
            {% block body %}
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti illum ipsum quaerat quam rerum, ullam veniam voluptates? Asperiores earum facere fuga magnam modi omnis porro quasi quis repellat temporibus.
            {% endblock body %}
        {% endembed %}
    {% endblock snippet_preview %}
{% endembed %}