{% include "@styleguide/ui/section-header.html.twig" with {
    "name": "Dropdown",
    "framework": {
        "name": "trowel-dropdown",
        "url": "#",
    }
} %}

<h2 class="ts-section__sub-heading">Dropdowns</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '<button class="v-btn" data-flag="v-drop" data-href="#dropdown-ex-1">dropdown</button>\n\n<div class="v-drop" id="dropdown-ex-1">\n    <nav class="v-drop__menu">\n        <a class="v-drop__anchor" href="#">Drop anchor</a>\n        <a class="v-drop__anchor" href="#">Drop anchor</a>\n        <a class="v-drop__anchor" href="#">Drop anchor</a>\n\n        <hr class="v-drop__divider">\n        <h6 class="v-drop__heading">Drop heading</h6>\n        <a class="v-drop__anchor" href="#">Drop anchor</a>\n        <a class="v-drop__anchor" href="#">Drop anchor</a>\n\n        <hr class="v-drop__divider">\n        <h6 class="v-drop__heading">Drop heading</h6>\n        <a class="v-drop__anchor" href="#">Drop anchor</a>\n    </nav>\n</div>',
    }
} %}
    {% block snippet_preview %}
        <button class="v-btn" data-flag="v-drop" data-href="#dropdown-ex-1">dropdown</button>

        <div class="v-drop" id="dropdown-ex-1">
            <nav class="v-drop__menu">
                <a class="v-drop__anchor" href="#">Drop anchor</a>
                <a class="v-drop__anchor" href="#">Drop anchor</a>
                <a class="v-drop__anchor" href="#">Drop anchor</a>
                <hr class="v-drop__divider">
                <h6 class="v-drop__heading">Drop heading</h6>
                <a class="v-drop__anchor" href="#">Drop anchor</a>
                <a class="v-drop__anchor" href="#">Drop anchor</a>
                <hr class="v-drop__divider">
                <h6 class="v-drop__heading">Drop heading</h6>
                <a class="v-drop__anchor" href="#">Drop anchor</a>
            </nav>
        </div>
    {% endblock snippet_preview %}
{% endembed %}

<h2 class="ts-section__sub-heading">Positions</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '<button class="v-btn" data-flag="v-drop" data-position="bottomout leftin" data-href="#dropdown-ex-2">bottom left</button>\n<button class="v-btn" data-flag="v-drop" data-position="bottomout rightin" data-href="#dropdown-ex-3">bottom right</button>\n<button class="v-btn" data-flag="v-drop" data-position="topout leftin" data-href="#dropdown-ex-4">top left</button>\n<button class="v-btn" data-flag="v-drop" data-position="topout rightin" data-href="#dropdown-ex-5">top right</button>',
    }
} %}
    {% block snippet_preview %}
        <button class="v-btn" data-flag="v-drop" data-position="bottomout leftin" data-href="#dropdown-ex-2">bottom left</button>
        <button class="v-btn" data-flag="v-drop" data-position="bottomout rightin" data-href="#dropdown-ex-3">bottom right</button>
        <button class="v-btn" data-flag="v-drop" data-position="topout leftin" data-href="#dropdown-ex-4">top left</button>
        <button class="v-btn" data-flag="v-drop" data-position="topout rightin" data-href="#dropdown-ex-5">top right</button>

        <div class="v-drop" id="dropdown-ex-2">
            <nav class="v-drop__menu">
                <a class="v-drop__anchor" href="#">Drop anchor</a>
                <a class="v-drop__anchor" href="#">Drop anchor</a>
                <a class="v-drop__anchor" href="#">Drop anchor</a>
            </nav>
        </div>

        <div class="v-drop" id="dropdown-ex-3">
            <nav class="v-drop__menu">
                <a class="v-drop__anchor" href="#">Drop anchor</a>
                <a class="v-drop__anchor" href="#">Drop anchor</a>
                <a class="v-drop__anchor" href="#">Drop anchor</a>
            </nav>
        </div>

        <div class="v-drop" id="dropdown-ex-4">
            <nav class="v-drop__menu">
                <a class="v-drop__anchor" href="#">Drop anchor</a>
                <a class="v-drop__anchor" href="#">Drop anchor</a>
                <a class="v-drop__anchor" href="#">Drop anchor</a>
            </nav>
        </div>

        <div class="v-drop" id="dropdown-ex-5">
            <nav class="v-drop__menu">
                <a class="v-drop__anchor" href="#">Drop anchor</a>
                <a class="v-drop__anchor" href="#">Drop anchor</a>
                <a class="v-drop__anchor" href="#">Drop anchor</a>
            </nav>
        </div>
    {% endblock snippet_preview %}
{% endembed %}


<h2 class="ts-section__sub-heading">Popover</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '<button class="v-btn v-btn--sm v-btn--danger" data-flag="v-drop" data-position="bottomout center" data-href="#dropdown-ex-6" data-position="middle rightout">popover</button>\n\n<div class="v-drop v-drop--popover" id="dropdown-ex-6">\n    <div class="v-drop__content">\n        Lorem ipsum dolor sit amet\n    </div>\n</div>',
    }
} %}
    {% block snippet_preview %}
        <button class="v-btn v-btn--sm v-btn--danger" data-flag="v-drop" data-position="bottomout center" data-href="#dropdown-ex-6" data-position="middle rightout">popover</button>

        <div class="v-drop v-drop--popover" id="dropdown-ex-6">
            <div class="v-drop__content">
                Lorem ipsum dolor sit amet
            </div>
        </div>
    {% endblock snippet_preview %}
{% endembed %}


<h2 class="ts-section__sub-heading">Tooltips</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '<button class="v-btn v-btn--sm v-btn--info" data-flag="v-drop" data-position="topout center" data-href="#dropdown-ex-7" data-position="middle rightout" data-behavior="hover">tooltip</button>\n\n<div class="v-drop v-drop--tooltip" id="dropdown-ex-7">\n    <div class="v-drop__content">\n        Lorem ipsum dolor sit amet\n    </div>\n</div>',
    }
} %}
    {% block snippet_preview %}
        <button class="v-btn v-btn--sm v-btn--info" data-flag="v-drop" data-position="topout center" data-href="#dropdown-ex-7" data-position="middle rightout" data-behavior="hover">tooltip</button>

        <div class="v-drop v-drop--tooltip" id="dropdown-ex-7">
            <div class="v-drop__content">
                Lorem ipsum dolor sit amet
            </div>
        </div>

    {% endblock snippet_preview %}
{% endembed %}
