{% include "@styleguide/ui/section-header.html.twig" with {
    "name": "Form",
    "framework": {
        "name": "trowel-form",
        "url": "#",
    }
} %}

<h2 class="ts-section__sub-heading">Text</h2>
<h2 class="ts-section__sub-heading">Select</h2>
<h2 class="ts-section__sub-heading">Checkbox</h2>
<h2 class="ts-section__sub-heading">Radio</h2>
<h2 class="ts-section__sub-heading">File</h2>
