{% include "VictoireUIBundle:Styleguide:ui/section-header.html.twig" with {
    "name": "Form",
    "framework": {
        "name": "trowel-form",
        "url": "#",
    }
} %}

{% embed 'VictoireUIBundle:Styleguide:ui/snippet.html.twig' with {
    'snippets': {
        'html': '<div class="v-form-group">\n    <label class="v-form-group__label">label</label>\n    <input class="v-form-group__input" type="text" value="hello world !">\n    <small class="v-form-group__help">This is a help message</small>\n</div>',
    }
} %}
    {% block snippet_preview %}
        <div class="v-form-group">
            <label class="v-form-group__label">label</label>
            <input class="v-form-group__input" type="text" value="hello world !">
            <small class="v-form-group__help">This is a help message</small>
        </div>
    {% endblock snippet_preview %}
{% endembed %}


<h2 class="ts-section__sub-heading">Input themes</h2>

{% embed 'VictoireUIBundle:Styleguide:ui/snippet.html.twig' with {
    'snippets': {
        'html': '<div class="v-form-group v-form-group--info">\n    <label class="v-form-group__label">label</label>\n    <input class="v-form-group__input" type="text" value="hello world !">\n    <small class="v-form-group__help">This is a help message</small>\n</div>\n\n<div class="v-form-group v-form-group--error">\n    <label class="v-form-group__label">label</label>\n    <input class="v-form-group__input" type="text" value="hello world !">\n    <small class="v-form-group__help">This is a help message</small>\n</div>\n\n<div class="v-form-group v-form-group--success">\n    <label class="v-form-group__label">label</label>\n    <input class="v-form-group__input" type="text" value="hello world !">\n    <small class="v-form-group__help">This is a help message</small>\n</div>',
    }
} %}
    {% block snippet_preview %}
        <div class="v-form-group v-form-group--info">
            <label class="v-form-group__label">label</label>
            <input class="v-form-group__input" type="text" value="hello world !">
            <small class="v-form-group__help">This is a help message</small>
        </div>

        <div class="v-form-group v-form-group--error">
            <label class="v-form-group__label">label</label>
            <input class="v-form-group__input" type="text" value="hello world !">
            <small class="v-form-group__help">This is a help message</small>
        </div>

        <div class="v-form-group v-form-group--success">
            <label class="v-form-group__label">label</label>
            <input class="v-form-group__input" type="text" value="hello world !">
            <small class="v-form-group__help">This is a help message</small>
        </div>
    {% endblock snippet_preview %}
{% endembed %}

<h2 class="ts-section__sub-heading">Input form group</h2>

{% embed 'VictoireUIBundle:Styleguide:ui/snippet.html.twig' with {
    'snippets': {
        'twig': '<div class="v-form-group">\n    <div class="v-form-group__input-group">\n        <span class="v-form-group__addon">\n            {% include "VictoireUIBundle:SVG:calendar.html.twig" %}\n        </span>\n        <input class="v-form-group__input" type="text" value="hello world !">\n    </div>\n</div>\n\n<div class="v-form-group">\n    <div class="v-form-group__input-group">\n        <input class="v-form-group__input" type="text" value="hello world !">\n        <span class="v-form-group__addon">\n            {% include "VictoireUIBundle:SVG:calendar.html.twig" %}\n        </span>\n    </div>\n</div>',
    }
} %}
    {% block snippet_preview %}
        <div class="v-form-group">
            <div class="v-form-group__input-group">
                <span class="v-form-group__addon">
                    {% include 'VictoireUIBundle:SVG:calendar.html.twig' %}
                </span>

                <input class="v-form-group__input" type="text" value="hello world !">
            </div>
        </div>

        <div class="v-form-group">
            <div class="v-form-group__input-group">
                <input class="v-form-group__input" type="text" value="hello world !">

                <span class="v-form-group__addon">
                    {% include 'VictoireUIBundle:SVG:calendar.html.twig' %}
                </span>
            </div>
        </div>
    {% endblock snippet_preview %}
{% endembed %}


<h2 class="ts-section__sub-heading">With material design effect</h2>

{% embed 'VictoireUIBundle:Styleguide:ui/snippet.html.twig' with {
    'snippets': {
        'html': '<div class="v-form-group v-form-group--md" data-flag="v-mdForm">\n    <label class="v-form-group__label" for="input-example-md" data-flag="mdf-label">label</label>\n    <input class="v-form-group__input" id="input-example-md" type="text" data-flag="mdf-input" value="hello world !">\n</div>',
    }
} %}
    {% block snippet_preview %}
        <div class="v-form-group v-form-group--md" data-flag="v-mdForm">
            <label class="v-form-group__label" for="input-example-md" data-flag="mdf-label">label</label>
            <input class="v-form-group__input" id="input-example-md" type="text" data-flag="mdf-input">
        </div>
    {% endblock snippet_preview %}
{% endembed %}

<hr>

<h2 class="ts-section__sub-heading">Select</h2>
{% embed 'VictoireUIBundle:Styleguide:ui/snippet.html.twig' with {
    'snippets': {
        'html': '<div class="v-form-group">\n    <div class="v-select">\n        <select class="v-select__native">\n            <option selected>Open this select menu</option>\n            <option value="1">One</option>\n            <option value="2">Two</option>\n            <option value="3">Three</option>\n        </select>\n    </div>\n</div>',
    }
} %}
    {% block snippet_preview %}
        <div class="v-form-group">
            <div class="v-select">
                <select class="v-select__native">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
    {% endblock snippet_preview %}
{% endembed %}

<h2 class="ts-section__sub-heading">Checkbox</h2>
{% embed 'VictoireUIBundle:Styleguide:ui/snippet.html.twig' with {
    'snippets': {
        'html': '<div class="v-form-group">\n    <label class="v-checkbox">\n        <input class="v-checkbox__native" type="checkbox">\n        <span class="v-checkbox__indicator"></span>\n        Hello world !\n    </label>\n</div>',
    }
} %}
    {% block snippet_preview %}
        <div class="v-form-group">
            <label class="v-checkbox">
                <input class="v-checkbox__native" type="checkbox">
                <span class="v-checkbox__indicator"></span>
                Hello world !
            </label>
        </div>
    {% endblock snippet_preview %}
{% endembed %}


<h2 class="ts-section__sub-heading">Radio</h2>
{% embed 'VictoireUIBundle:Styleguide:ui/snippet.html.twig' with {
    'snippets': {
        'html': '<div class="v-form-group">\n    <label class="v-radio">\n        <input class="v-radio__native" type="radio" name="radio-example">\n        <span class="v-radio__indicator"></span>\n        Option 1\n    </label>\n</div>\n\n<div class="v-form-group">\n    <label class="v-radio">\n        <input class="v-radio__native" type="radio" name="radio-example">\n        <span class="v-radio__indicator"></span>\n        Option 2\n    </label>\n</div>',
    }
} %}
    {% block snippet_preview %}
        <div class="v-form-group">
            <label class="v-radio">
                <input class="v-radio__native" type="radio" name="radio-example">
                <span class="v-radio__indicator"></span>
                Option 1
            </label>
        </div>

        <div class="v-form-group">
            <label class="v-radio">
                <input class="v-radio__native" type="radio" name="radio-example">
                <span class="v-radio__indicator"></span>
                Option 2
            </label>
        </div>
    {% endblock snippet_preview %}
{% endembed %}
