{% include "VictoireUIBundle:Styleguide:ui/section-header.html.twig" with {
    "name": "Heading",
} %}

<div class="v-grid">
    <div class="v-col v-col--xs-12 v-col--md-6">
        {% embed 'VictoireUIBundle:Styleguide:ui/snippet.html.twig' with {
            'snippets': {
                'html': '<h1 class="v-h1">Heading 1</h1>\n<h2 class="v-h2">Heading 2</h2>\n<h3 class="v-h3">Heading 3</h3>\n<h4 class="v-h4">Heading 4</h4>\n<h5 class="v-h5">Heading 5</h5>\n<h6 class="v-h6">Heading 6</h6>',
            }
        } %}
            {% block snippet_preview %}
                <h1 class="v-h1">Heading 1</h1>
                <h2 class="v-h2">Heading 2</h2>
                <h3 class="v-h3">Heading 3</h3>
                <h4 class="v-h4">Heading 4</h4>
                <h5 class="v-h5">Heading 5</h5>
                <h6 class="v-h6">Heading 6</h6>
            {% endblock snippet_preview %}
        {% endembed %}
    </div>

    <div class="v-col v-col--xs-12 v-col--md-6">
        {% embed 'VictoireUIBundle:Styleguide:ui/snippet.html.twig' with {
            'snippets': {
                'html': '<h1 class="v-h1">Heading 1</h1>\n<h2 class="v-h1">Heading 1</h2>\n<h3 class="v-h1">Heading 1</h3>\n<h4 class="v-h1">Heading 1</h4>',
            }
        } %}
            {% block snippet_preview %}
                <h1 class="v-h1">Heading 1</h1>
                <h2 class="v-h1">Heading 1</h2>
                <h3 class="v-h1">Heading 1</h3>
                <h4 class="v-h1">Heading 1</h4>
            {% endblock snippet_preview %}
        {% endembed %}
    </div>
</div>
