{% include "VictoireUIBundle:Styleguide:ui/section-header.html.twig" with {
    "name": "image",
} %}

<h2 class="ts-section__sub-heading">Profile img</h2>
{% embed 'VictoireUIBundle:Styleguide:ui/snippet.html.twig' with {
    'snippets': {
        'html': '<img class="vict-image--profile" src="http://placehold.it/40">',
    }
} %}
    {% block snippet_preview %}
        <img class="vict-image--profile" src="http://placehold.it/40">
    {% endblock snippet_preview %}
{% endembed %}
