{% include "@styleguide/ui/section-header.html.twig" with {
    "name": "Layout",
    "framework": {
        "name": "trowel-layout",
        "url": "#",
    }
} %}

<h2 class="ts-section__sub-heading">Container</h2>
<h2 class="ts-section__sub-heading">Container fluid</h2>
<h2 class="ts-section__sub-heading">Responsive helpers</h2>
<h2 class="ts-section__sub-heading">Grid</h2>
<h2 class="ts-section__sub-heading">Flexbox grid</h2>
