{% include "VictoireUIBundle:Styleguide:ui/section-header.html.twig" with {
    "name": "List-group",
} %}


{% embed 'VictoireUIBundle:Styleguide:ui/snippet.html.twig' with {
    'snippets': {
        'html': '<ul class="v-list-group v-list-group--main">\n    <li class="v-list-group__item">lorem</li>\n    <li class="v-list-group__item">ipsum</li>\n\n    <li class="v-list-group__sub-list">\n        <ul class="v-list-group">\n            <li class="v-list-group__item">dolor</li>\n\n            <li class="v-list-group__sub-list">\n                <ul class="v-list-group">\n                    <li class="v-list-group__item">sit</li>\n                </ul>\n            </li>\n\n            <li class="v-list-group__item">amet</li>\n        </ul>\n    </li>\n</ul>',
    }
} %}
    {% block snippet_preview %}
        <ul class="v-list-group v-list-group--main">
            <li class="v-list-group__item">lorem</li>
            <li class="v-list-group__item">ipsum</li>

            <li class="v-list-group__sub-list">
                <ul class="v-list-group">
                    <li class="v-list-group__item">dolor</li>

                    <li class="v-list-group__sub-list">
                        <ul class="v-list-group">
                            <li class="v-list-group__item">sit</li>
                        </ul>
                    </li>

                    <li class="v-list-group__item">amet</li>
                </ul>
            </li>
        </ul>
    {% endblock snippet_preview %}
{% endembed %}

{% embed 'VictoireUIBundle:Styleguide:ui/snippet.html.twig' with {
    'snippets': {
        'html': '<ul class="v-list-group v-list-group--main v-list-group--sm">\n    <li class="v-list-group__item">lorem</li>\n    <li class="v-list-group__item">ipsum</li>\n\n    <li class="v-list-group__sub-list">\n        <ul class="v-list-group">\n            <li class="v-list-group__item">dolor</li>\n\n            <li class="v-list-group__sub-list">\n                <ul class="v-list-group">\n                    <li class="v-list-group__item">sit</li>\n                </ul>\n            </li>\n\n            <li class="v-list-group__item">amet</li>\n        </ul>\n    </li>\n</ul>',
    }
} %}
    {% block snippet_preview %}
        <ul class="v-list-group v-list-group--main v-list-group--sm">
            <li class="v-list-group__item">lorem</li>
            <li class="v-list-group__item">ipsum</li>

            <li class="v-list-group__sub-list">
                <ul class="v-list-group">
                    <li class="v-list-group__item">dolor</li>

                    <li class="v-list-group__sub-list">
                        <ul class="v-list-group">
                            <li class="v-list-group__item">sit</li>
                        </ul>
                    </li>

                    <li class="v-list-group__item">amet</li>
                </ul>
            </li>
        </ul>
    {% endblock snippet_preview %}
{% endembed %}

{% embed 'VictoireUIBundle:Styleguide:ui/snippet.html.twig' with {
    'snippets': {
        'html': '<ul class="v-list-group v-list-group--main">\n    <li class="v-list-group__item">lorem</li>\n    <li class="v-list-group__item v-list-group__item--info">ipsum</li>\n</ul>',
    }
} %}
    {% block snippet_preview %}
        <ul class="v-list-group v-list-group--main">
            <li class="v-list-group__item">lorem</li>
            <li class="v-list-group__item v-list-group__item--info">ipsum</li>
        </ul>
    {% endblock snippet_preview %}
{% endembed %}
