{% include "VictoireUIBundle:Styleguide:ui/section-header.html.twig" with {
    "name": "Modal"
} %}

{% embed 'VictoireUIBundle:Styleguide:ui/snippet.html.twig' with {
    'snippets': {
        'twig': '<button class="v-btn v-btn--primary" data-v-modal-show="#modal-example-1">open modal</button>\n<section class="v-modal" id="modal-example-1" data-flag="v-modal">\n    <div class="v-modal__header">\n        <nav class="v-navbar v-navbar--grey">\n            <div class="v-container v-container--fluid">\n                <div class="v-flex-grid">\n                    <div class="v-flex-col">\n                        <h2 class="v-modal__heading">WIDGET #256 - Français</h2>\n                    </div>\n                </div>\n            </div>\n        </nav>\n    </div>\n    <div class="v-modal__body">\n        <div>\n            <nav class="v-navbar v-navbar--vertical">\n                <div class="v-flex-grid v-flex-grid--direction-column">\n                    <div class="v-flex-col">\n                        <a href="#" class="v-btn v-btn--square v-btn--warning">\n                            {% include "VictoireUIBundle:SVG:quantum.html.twig" %}\n                            fr\n                        </a>\n                    </div>\n                    <div class="v-flex-col">\n                        <a href="#" class="v-btn v-btn--square v-btn--locale">\n                            {% include "VictoireUIBundle:SVG:quantum.html.twig" %}\n                            en\n                        </a>\n                    </div>\n                    <div class="v-flex-col">\n                        <a href="#" class="v-btn v-btn--square v-btn--locale">\n                            {% include "VictoireUIBundle:SVG:quantum.html.twig" %}\n                            al\n                        </a>\n                    </div>\n                    <div class="v-flex-col">\n                        <a href="#" class="v-btn v-btn--square v-btn--transparent">\n                            {% include "VictoireUIBundle:SVG:quantum-add.html.twig" %}\n                        </a>\n                    </div>\n                </div>\n            </nav>\n        </div>\n        <div class="v-modal__content">\n            <div class="v-modal__content-inner">\n                <div class="v-container">\n                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\n                </div>\n            </div>\n        </div>\n    </div>\n    <div class="v-modal__footer">\n        <nav class="v-navbar">\n            <div class="v-container">\n                <div class="v-flex-grid v-flex-grid--justify-between">\n                    <div class="v-flex-col">\n                        <button class="v-btn v-btn--transparent">Supprimer</button>\n                        <button class="v-btn v-btn--transparent v-btn--danger" data-v-modal-hide="#modal-example-1">Annuler</button>\n                    </div>\n                    <div class="v-flex-col">\n                        <button class="v-btn v-btn--warning">Mettre à jour</button>\n                    </div>\n                </div>\n            </div>\n        </nav>\n    </div>\n</section>',
    }
} %}
    {% block snippet_preview %}
        <button class="v-btn v-btn--primary" data-v-modal-show="#modal-example-1">open modal</button>

        <section class="v-modal" id="modal-example-1" data-flag="v-modal">
            <div class="v-modal__header">
                <nav class="v-navbar v-navbar--grey">
                    <div class="v-container v-container--fluid">
                        <div class="v-flex-grid">
                            <div class="v-flex-col">
                                <h2 class="v-modal__heading">WIDGET #256 - Français</h2>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="v-modal__body">
                <div>
                    <nav class="v-navbar v-navbar--vertical">
                        <div class="v-flex-grid v-flex-grid--direction-column">
                            <div class="v-flex-col">
                                <a href="#" class="v-btn v-btn--square v-btn--warning">
                                    {% include "VictoireUIBundle:SVG:quantum.html.twig" %}

                                    fr
                                </a>
                            </div>

                            <div class="v-flex-col">
                                <a href="#" class="v-btn v-btn--square v-btn--locale">
                                    {% include "VictoireUIBundle:SVG:quantum.html.twig" %}

                                    en
                                </a>
                            </div>

                            <div class="v-flex-col">
                                <a href="#" class="v-btn v-btn--square v-btn--locale">
                                    {% include "VictoireUIBundle:SVG:quantum.html.twig" %}

                                    al
                                </a>
                            </div>

                            <div class="v-flex-col">
                                <a href="#" class="v-btn v-btn--square v-btn--transparent">
                                    {% include "VictoireUIBundle:SVG:quantum-add.html.twig" %}
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="v-modal__content">
                    <div class="v-modal__content-inner">
                        <div class="v-container">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>

            <div class="v-modal__footer">
                <nav class="v-navbar">
                    <div class="v-container">
                        <div class="v-flex-grid v-flex-grid--justify-between">
                            <div class="v-flex-col">
                                <button class="v-btn v-btn--transparent">Supprimer</button>
                                <button class="v-btn v-btn--transparent v-btn--danger" data-v-modal-hide="#modal-example-1">Annuler</button>
                            </div>

                            <div class="v-flex-col">
                                <button class="v-btn v-btn--warning">Mettre à jour</button>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
    {% endblock snippet_preview %}
{% endembed %}



<h2 class="ts-section__sub-heading">Without sidebar</h2>
{% embed 'VictoireUIBundle:Styleguide:ui/snippet.html.twig' with {
    'snippets': {
        'twig': '<button class="v-btn v-btn--primary" data-v-modal-show="#modal-example-2">open modal</button>\n\n<section class="v-modal" id="modal-example-2" data-flag="v-modal">\n    <div class="v-modal__header">\n        <nav class="v-navbar v-navbar--grey">\n            <div class="v-container v-container--fluid">\n                <div class="v-flex-grid">\n                    <div class="v-flex-col">\n                        <h2 class="v-modal__heading">WIDGET #256 - Français</h2>\n                    </div>\n                </div>\n            </div>\n        </nav>\n    </div>\n\n    <div class="v-modal__body">\n        <div class="v-modal__content">\n            <div class="v-modal__content-inner">\n                <div class="v-container">\n                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\n                </div>\n            </div>\n        </div>\n    </div>\n\n    <div class="v-modal__footer">\n        <nav class="v-navbar">\n            <div class="v-container">\n                <div class="v-flex-grid v-flex-grid--justify-between">\n                    <div class="v-flex-col">\n                        <button class="v-btn v-btn--transparent">Supprimer</button>\n                        <button class="v-btn v-btn--transparent v-btn--danger" data-v-modal-hide="#modal-example-2">Annuler</button>\n                    </div>\n\n                    <div class="v-flex-col">\n                        <button class="v-btn v-btn--warning">Mettre à jour</button>\n                    </div>\n                </div>\n            </div>\n        </nav>\n    </div>\n</section>',
    }
} %}
    {% block snippet_preview %}
        <button class="v-btn v-btn--primary" data-v-modal-show="#modal-example-2">open modal</button>

        <section class="v-modal" id="modal-example-2" data-flag="v-modal">
            <div class="v-modal__header">
                <nav class="v-navbar v-navbar--grey">
                    <div class="v-container v-container--fluid">
                        <div class="v-flex-grid">
                            <div class="v-flex-col">
                                <h2 class="v-modal__heading">WIDGET #256 - Français</h2>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="v-modal__body">
                <div class="v-modal__content">
                    <div class="v-modal__content-inner">
                        <div class="v-container">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                </div>
            </div>

            <div class="v-modal__footer">
                <nav class="v-navbar">
                    <div class="v-container">
                        <div class="v-flex-grid v-flex-grid--justify-between">
                            <div class="v-flex-col">
                                <button class="v-btn v-btn--transparent">Supprimer</button>
                                <button class="v-btn v-btn--transparent v-btn--danger" data-v-modal-hide="#modal-example-2">Annuler</button>
                            </div>

                            <div class="v-flex-col">
                                <button class="v-btn v-btn--warning">Mettre à jour</button>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
    {% endblock snippet_preview %}
{% endembed %}
