{% include "@styleguide/ui/section-header.html.twig" with {
    "name": "navbar",
} %}

{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '<nav class="v-navbar">\n    <div class="v-container v-container--fluid">\n        <div class="v-flex-grid">\n            <div class="v-flex-col">flex col</div>\n            <div class="v-flex-col">flex col</div>\n            <div class="v-flex-col v-flex-col--grow-1">flex col</div>\n            <div class="v-flex-col">flex col</div>\n            <div class="v-flex-col">flex col</div>\n        </div>\n    </div>\n</nav>',
    }
} %}
    {% block snippet_preview %}
        <nav class="v-navbar">
            <div class="v-container v-container--fluid">
                <div class="v-flex-grid">
                    <div class="v-flex-col">flex col</div>
                    <div class="v-flex-col">flex col</div>
                    <div class="v-flex-col v-flex-col--grow-1">flex col</div>
                    <div class="v-flex-col">flex col</div>
                    <div class="v-flex-col">flex col</div>
                </div>
            </div>
        </nav>
    {% endblock snippet_preview %}
{% endembed %}

<h2 class="ts-section__sub-heading">With container</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '<nav class="v-navbar">\n    <div class="v-container">\n        ...\n    </div>\n</nav>',
    }
} %}
    {% block snippet_preview %}
        <nav class="v-navbar">
            <div class="v-container">
                <div class="v-flex-grid">
                    <div class="v-flex-col">flex col</div>
                    <div class="v-flex-col">flex col</div>
                    <div class="v-flex-col v-flex-col--grow-1">flex col</div>
                    <div class="v-flex-col">flex col</div>
                    <div class="v-flex-col">flex col</div>
                </div>
            </div>
        </nav>
    {% endblock snippet_preview %}
{% endembed %}


<h2 class="ts-section__sub-heading">Grey background</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '<nav class="v-navbar v-navbar--grey">\n    ...\n</nav>',
    }
} %}
    {% block snippet_preview %}
        <nav class="v-navbar v-navbar--grey">
            <div class="v-container v-container--fluid">
                <div class="v-flex-grid">
                    <div class="v-flex-col">flex col</div>
                    <div class="v-flex-col">flex col</div>
                    <div class="v-flex-col v-flex-col--grow-1">flex col</div>
                    <div class="v-flex-col">flex col</div>
                    <div class="v-flex-col">flex col</div>
                </div>
            </div>
        </nav>
    {% endblock snippet_preview %}
{% endembed %}


<h2 class="ts-section__sub-heading">Large navbar</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '<nav class="v-navbar v-navbar--lg">\n    ...\n</nav>',
    }
} %}
    {% block snippet_preview %}
        <nav class="v-navbar v-navbar--lg">
            <div class="v-container v-container--fluid">
                <div class="v-flex-grid">
                    <div class="v-flex-col">flex col</div>
                    <div class="v-flex-col">flex col</div>
                    <div class="v-flex-col v-flex-col--grow-1">flex col</div>
                    <div class="v-flex-col">flex col</div>
                    <div class="v-flex-col">flex col</div>
                </div>
            </div>
        </nav>
    {% endblock snippet_preview %}
{% endembed %}


<h2 class="ts-section__sub-heading">Full examples</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '<nav class="v-navbar">\n    <div class="v-container">\n        <div class="v-flex-grid v-flex-grid--justify-between">\n            <div class="v-flex-col">\n                <button class="v-btn v-btn--transparent">Supprimer</button>\n                <button class="v-btn v-btn--transparent v-btn--danger">Annuler</button>\n            </div>\n\n            <div class="v-flex-col">\n                <button class="v-btn v-btn--warning">Mettre à jour</button>\n            </div>\n        </div>\n    </div>\n</nav>',
    }
} %}
    {% block snippet_preview %}
        <nav class="v-navbar">
            <div class="v-container">
                <div class="v-flex-grid v-flex-grid--justify-between">
                    <div class="v-flex-col">
                        <button class="v-btn v-btn--transparent">Supprimer</button>
                        <button class="v-btn v-btn--transparent v-btn--danger">Annuler</button>
                    </div>

                    <div class="v-flex-col">
                        <button class="v-btn v-btn--warning">Mettre à jour</button>
                    </div>
                </div>
            </div>
        </nav>
    {% endblock snippet_preview %}
{% endembed %}

<h2 class="ts-section__sub-heading">Header</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'twig': '<header class="v-navbar v-navbar--lg v-navbar--header v-navbar--loading">\n    <div class="v-container v-container--fluid">\n        <div class="v-flex-grid v-flex-grid--gutter-lg  v-flex-grid--align-center">\n            <div class="v-flex-col">\n                {% include "@SVG/logo.html.twig" with {\n                    "height": 60,\n                } %}\n            </div>\n\n            <div class="v-flex-col v-flex-col--grow-1">\n                <ul class="v-menu">\n                    <li class="v-menu__item">\n                        <a class="v-menu__anchor" href="#">Sitemap</a>\n                    </li>\n\n                    <li class="v-menu__item">\n                        <a class="v-menu__anchor" href="#">Medias</a>\n                    </li>\n\n                    <li class="v-menu__item">\n                        <a class="v-menu__anchor" href="#">Blog</a>\n                    </li>\n\n                    <li class="v-menu__item">\n                        <a class="v-menu__anchor" href="#">Admin</a>\n                    </li>\n                </ul>\n            </div>\n\n            <div class="v-flex-col">\n                <a class="v-btn v-btn--transparent v-btn--sm" data-flag="v-drop" data-position="bottomout rightin" data-href="#navbar-header-drop">\n                    <img class="v-image--profile" src="http://placehold.it/40">\n                </a>\n\n                <div class="v-drop" id="navbar-header-drop">\n                    <nav class="v-drop__menu">\n                        <a class="v-drop__anchor" href="#">Drop anchor</a>\n                        <a class="v-drop__anchor" href="#">Drop anchor</a>\n                        <a class="v-drop__anchor" href="#">Drop anchor</a>\n                    </nav>\n                </div>\n            </div>\n        </div>\n    </div>\n</header>',
    }
} %}
    {% block snippet_preview %}
        <header class="v-navbar v-navbar--lg v-navbar--header v-navbar--loading" style="position: static;">
            <div class="v-container v-container--fluid">
                <div class="v-flex-grid v-flex-grid--gutter-lg  v-flex-grid--align-center">
                    <div class="v-flex-col">
                        {% include "@SVG/logo.html.twig" with {
                            "height": 60,
                        } %}
                    </div>

                    <div class="v-flex-col v-flex-col--grow-1">
                        <ul class="v-menu">
                            <li class="v-menu__item">
                                <a class="v-menu__anchor" href="#">Sitemap</a>
                            </li>

                            <li class="v-menu__item">
                                <a class="v-menu__anchor" href="#">Medias</a>
                            </li>

                            <li class="v-menu__item">
                                <a class="v-menu__anchor" href="#">Blog</a>
                            </li>

                            <li class="v-menu__item">
                                <a class="v-menu__anchor" href="#">Admin</a>
                            </li>
                        </ul>
                    </div>

                    <div class="v-flex-col">
                        <a class="v-btn v-btn--transparent v-btn--sm" data-flag="v-drop" data-position="bottomout rightin" data-href="#navbar-header-drop">
                            <img class="v-image--profile" src="http://placehold.it/40">
                        </a>

                        <div class="v-drop" id="navbar-header-drop">
                            <nav class="v-drop__menu">
                                <a class="v-drop__anchor" href="#">Drop anchor</a>
                                <a class="v-drop__anchor" href="#">Drop anchor</a>
                                <a class="v-drop__anchor" href="#">Drop anchor</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock snippet_preview %}
{% endembed %}


<h2 class="ts-section__sub-heading">Footer</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'twig': '<footer class="v-navbar">\n    <div class="v-container v-container--fluid">\n        <div class="v-flex-grid v-flex-grid--align-center">\n            <div class="v-flex-col v-flex-col--grow-1 v-flex-col--shrink-0 v-flex-col--basis-0">\n                <button class="v-btn v-btn--transparent v-drop-trigger--no-toggle" data-flag="v-drop" data-position="topout leftin" data-href="#navbar-footer-drop-1">\n                    {% include "@SVG/menu.html.twig" %}\n                </button>\n\n                <div class="v-drop" id="navbar-footer-drop-1">\n                    <nav class="v-drop__menu">\n                        <a class="v-drop__anchor" href="#">Business Entities</a>\n                        <a class="v-drop__anchor" href="#">Special pages</a>\n                    </nav>\n                </div>\n            </div>\n\n            <div class="v-flex-col v-flex-col--grow-1 v-flex-col--shrink-0 v-flex-col--basis-0 v-text--center">\n                {% include "@bricks/mode-switcher.html.twig" with {\n                    "name": "mode-switcher",\n                    "startMode": "preview",\n                } %}\n            </div>\n\n            <div class="v-flex-col v-flex-col--grow-1 v-flex-col--shrink-0 v-flex-col--basis-0 v-text--right">\n                <button class="v-btn v-btn--sm v-btn--transparent" data-flag="v-drop" data-position="topout rightin" data-href="#navbar-footer-drop-2">\n                    {% include "@SVG/template.html.twig" %}\n                </button>\n\n                <div class="v-drop" id="navbar-footer-drop-2">\n                    <nav class="v-drop__menu">\n                        <a class="v-drop__anchor" href="#">dropdown item</a>\n                        <a class="v-drop__anchor" href="#">dropdown item</a>\n                    </nav>\n                </div>\n\n                <a class="v-btn v-btn--sm v-btn--transparent" href="#">\n                    {% include "@SVG/cogs.html.twig" %}\n                </a>\n\n                <a class="v-btn v-btn--sm v-btn--transparent" href="#">\n                    <span class="v-seo v-seo--success">seo</span>\n                </a>\n            </div>\n        </div>\n    </div>\n</footer>',
    }
} %}
    {% block snippet_preview %}
        <footer class="v-navbar">
            <div class="v-container v-container--fluid">
                <div class="v-flex-grid v-flex-grid--align-center">
                    <div class="v-flex-col v-flex-col--grow-1 v-flex-col--shrink-0 v-flex-col--basis-0">
                        <button class="v-btn v-btn--transparent v-drop-trigger--no-toggle" data-flag="v-drop" data-position="topout leftin" data-href="#navbar-footer-drop-1">
                            {% include "@SVG/menu.html.twig" %}
                        </button>

                        <div class="v-drop" id="navbar-footer-drop-1">
                            <nav class="v-drop__menu">
                                <a class="v-drop__anchor" href="#">Business Entities</a>
                                <a class="v-drop__anchor" href="#">Special pages</a>
                            </nav>
                        </div>
                    </div>

                    <div class="v-flex-col v-flex-col--grow-1 v-flex-col--shrink-0 v-flex-col--basis-0 v-text--center">
                        {% include "@bricks/mode-switcher.html.twig" with {
                            "name": "mode-switcher-ex-navbar",
                            "startMode": "preview",
                        } %}
                    </div>

                    <div class="v-flex-col v-flex-col--grow-1 v-flex-col--shrink-0 v-flex-col--basis-0 v-text--right">
                        <button class="v-btn v-btn--sm v-btn--transparent" data-flag="v-drop" data-position="topout rightin" data-href="#navbar-footer-drop-2">
                            {% include "@SVG/template.html.twig" %}
                        </button>

                        <div class="v-drop" id="navbar-footer-drop-2">
                            <nav class="v-drop__menu">
                                <a class="v-drop__anchor" href="#">dropdown item</a>
                                <a class="v-drop__anchor" href="#">dropdown item</a>
                            </nav>
                        </div>

                        <a class="v-btn v-btn--sm v-btn--transparent" href="#">
                            {% include "@SVG/cogs.html.twig" %}
                        </a>

                        <a class="v-btn v-btn--sm v-btn--transparent" href="#">
                            <span class="v-seo v-seo--success">seo</span>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock snippet_preview %}
{% endembed %}


<h2 class="ts-section__sub-heading">Vertical navbar</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'twig': '<nav class="v-navbar v-navbar--vertical">\n    <div class="v-flex-grid v-flex-grid--direction-column">\n        <div class="v-flex-col">\n            <a href="#" class="v-btn v-btn--square v-btn--warning">\n                {% include "@SVG/quantum.html.twig" %}\n\n                fr\n            </a>\n        </div>\n\n        <div class="v-flex-col">\n            <a href="#" class="v-btn v-btn--square v-btn--locale">\n                {% include "@SVG/quantum.html.twig" %}\n\n                en\n            </a>\n        </div>\n\n        <div class="v-flex-col">\n            <a href="#" class="v-btn v-btn--square v-btn--locale">\n                {% include "@SVG/quantum.html.twig" %}\n\n                al\n            </a>\n        </div>\n\n        <div class="v-flex-col">\n            <a href="#" class="v-btn v-btn--square v-btn--transparent">\n                {% include "@SVG/quantum-add.html.twig" %}\n            </a>\n        </div>\n    </div>\n</nav>',
    }
} %}
    {% block snippet_preview %}
        <nav class="v-navbar v-navbar--vertical" style="height: 350px">
            <div class="v-flex-grid v-flex-grid--direction-column">
                <div class="v-flex-col">
                    <a href="#" class="v-btn v-btn--square v-btn--warning">
                        {% include '@SVG/quantum.html.twig' %}

                        fr
                    </a>
                </div>

                <div class="v-flex-col">
                    <a href="#" class="v-btn v-btn--square v-btn--locale">
                        {% include '@SVG/quantum.html.twig' %}

                        en
                    </a>
                </div>

                <div class="v-flex-col">
                    <a href="#" class="v-btn v-btn--square v-btn--locale">
                        {% include '@SVG/quantum.html.twig' %}

                        al
                    </a>
                </div>

                <div class="v-flex-col">
                    <a href="#" class="v-btn v-btn--square v-btn--transparent">
                        {% include '@SVG/quantum-add.html.twig' %}
                    </a>
                </div>
            </div>
        </nav>
    {% endblock snippet_preview %}
{% endembed %}
