{% include "@styleguide/ui/section-header.html.twig" with {
    "name": "navbar",
} %}

{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '<nav class="vict-navbar">\n    <div class="vic-container vic-container--fluid">\n        <div class="vic-flex-grid">\n            <div class="vic-flex-col">flex col</div>\n            <div class="vic-flex-col">flex col</div>\n            <div class="vic-flex-col vic-flex-col--grow-1">flex col</div>\n            <div class="vic-flex-col">flex col</div>\n            <div class="vic-flex-col">flex col</div>\n        </div>\n    </div>\n</nav>',
    }
} %}
    {% block snippet_preview %}
        <nav class="vict-navbar">
            <div class="vic-container vic-container--fluid">
                <div class="vic-flex-grid">
                    <div class="vic-flex-col">flex col</div>
                    <div class="vic-flex-col">flex col</div>
                    <div class="vic-flex-col vic-flex-col--grow-1">flex col</div>
                    <div class="vic-flex-col">flex col</div>
                    <div class="vic-flex-col">flex col</div>
                </div>
            </div>
        </nav>
    {% endblock snippet_preview %}
{% endembed %}

<h2 class="ts-section__sub-heading">With container</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '<nav class="vict-navbar">\n    <div class="vic-container">\n        ...\n    </div>\n</nav>',
    }
} %}
    {% block snippet_preview %}
        <nav class="vict-navbar">
            <div class="vic-container">
                <div class="vic-flex-grid">
                    <div class="vic-flex-col">flex col</div>
                    <div class="vic-flex-col">flex col</div>
                    <div class="vic-flex-col vic-flex-col--grow-1">flex col</div>
                    <div class="vic-flex-col">flex col</div>
                    <div class="vic-flex-col">flex col</div>
                </div>
            </div>
        </nav>
    {% endblock snippet_preview %}
{% endembed %}


<h2 class="ts-section__sub-heading">Grey background</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '<nav class="vict-navbar vict-navbar--grey">\n    ...\n</nav>',
    }
} %}
    {% block snippet_preview %}
        <nav class="vict-navbar vict-navbar--grey">
            <div class="vic-container vic-container--fluid">
                <div class="vic-flex-grid">
                    <div class="vic-flex-col">flex col</div>
                    <div class="vic-flex-col">flex col</div>
                    <div class="vic-flex-col vic-flex-col--grow-1">flex col</div>
                    <div class="vic-flex-col">flex col</div>
                    <div class="vic-flex-col">flex col</div>
                </div>
            </div>
        </nav>
    {% endblock snippet_preview %}
{% endembed %}


<h2 class="ts-section__sub-heading">Large navbar</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '<nav class="vict-navbar vict-navbar--lg">\n    ...\n</nav>',
    }
} %}
    {% block snippet_preview %}
        <nav class="vict-navbar vict-navbar--lg">
            <div class="vic-container vic-container--fluid">
                <div class="vic-flex-grid">
                    <div class="vic-flex-col">flex col</div>
                    <div class="vic-flex-col">flex col</div>
                    <div class="vic-flex-col vic-flex-col--grow-1">flex col</div>
                    <div class="vic-flex-col">flex col</div>
                    <div class="vic-flex-col">flex col</div>
                </div>
            </div>
        </nav>
    {% endblock snippet_preview %}
{% endembed %}


<h2 class="ts-section__sub-heading">Full examples</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '<nav class="vict-navbar">\n    <div class="vic-container">\n        <div class="vic-flex-grid vic-flex-grid--justify-between">\n            <div class="vic-flex-col">\n                <button class="vic-btn vic-btn--transparent">Supprimer</button>\n                <button class="vic-btn vic-btn--transparent vic-btn--danger">Annuler</button>\n            </div>\n\n            <div class="vic-flex-col">\n                <button class="vic-btn vic-btn--warning">Mettre à jour</button>\n            </div>\n        </div>\n    </div>\n</nav>',
    }
} %}
    {% block snippet_preview %}
        <nav class="vict-navbar">
            <div class="vic-container">
                <div class="vic-flex-grid vic-flex-grid--justify-between">
                    <div class="vic-flex-col">
                        <button class="vic-btn vic-btn--transparent">Supprimer</button>
                        <button class="vic-btn vic-btn--transparent vic-btn--danger">Annuler</button>
                    </div>

                    <div class="vic-flex-col">
                        <button class="vic-btn vic-btn--warning">Mettre à jour</button>
                    </div>
                </div>
            </div>
        </nav>
    {% endblock snippet_preview %}
{% endembed %}


<h2 class="ts-section__sub-heading">Header</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'twig': '<header class="vict-navbar vict-navbar--lg vict-navbar--header">\n    <div class="vic-container vic-container--fluid">\n        <div class="vic-flex-grid vic-flex-grid--gutter-lg  vic-flex-grid--align-center">\n            <div class="vic-flex-col">\n                {% include "@SVG/logo.html.twig" %}\n            </div>\n\n            <div class="vic-flex-col vic-flex-col--grow-1">\n                <ul class="vic-menu">\n                    <li class="vic-menu__item">\n                        <a class="vic-menu__anchor" href="#">Sitemap</a>\n                    </li>\n\n                    <li class="vic-menu__item">\n                        <a class="vic-menu__anchor" href="#">Medias</a>\n                    </li>\n\n                    <li class="vic-menu__item">\n                        <a class="vic-menu__anchor" href="#">Blog</a>\n                    </li>\n\n                    <li class="vic-menu__item">\n                        <a class="vic-menu__anchor" href="#">Admin</a>\n                    </li>\n                </ul>\n            </div>\n\n            <div class="vic-flex-col">\n                <a class="vic-btn vic-btn--transparent vic-btn--sm" data-flag="drops" data-position="bottomout rightin" data-href="#navbar-header-drop">\n                    <img class="vict-image--profile" src="http://placehold.it/40">\n                </a>\n\n                <div class="vic-drop" id="navbar-header-drop">\n                    <nav class="vic-drop__menu">\n                        <a class="vic-drop__anchor" href="#">Drop anchor</a>\n                        <a class="vic-drop__anchor" href="#">Drop anchor</a>\n                        <a class="vic-drop__anchor" href="#">Drop anchor</a>\n                    </nav>\n                </div>\n            </div>\n        </div>\n    </div>\n</header>',
    }
} %}
    {% block snippet_preview %}
        <header class="vict-navbar vict-navbar--lg vict-navbar--header" style="position: static;">
            <div class="vic-container vic-container--fluid">
                <div class="vic-flex-grid vic-flex-grid--gutter-lg  vic-flex-grid--align-center">
                    <div class="vic-flex-col">
                        {% include '@SVG/logo.html.twig' %}
                    </div>

                    <div class="vic-flex-col vic-flex-col--grow-1">
                        <ul class="vic-menu">
                            <li class="vic-menu__item">
                                <a class="vic-menu__anchor" href="#">Sitemap</a>
                            </li>

                            <li class="vic-menu__item">
                                <a class="vic-menu__anchor" href="#">Medias</a>
                            </li>

                            <li class="vic-menu__item">
                                <a class="vic-menu__anchor" href="#">Blog</a>
                            </li>

                            <li class="vic-menu__item">
                                <a class="vic-menu__anchor" href="#">Admin</a>
                            </li>
                        </ul>
                    </div>

                    <div class="vic-flex-col">
                        <a class="vic-btn vic-btn--transparent vic-btn--sm" data-flag="drops" data-position="bottomout rightin" data-href="#navbar-header-drop">
                            <img class="vict-image--profile" src="http://placehold.it/40">
                        </a>

                        <div class="vic-drop" id="navbar-header-drop">
                            <nav class="vic-drop__menu">
                                <a class="vic-drop__anchor" href="#">Drop anchor</a>
                                <a class="vic-drop__anchor" href="#">Drop anchor</a>
                                <a class="vic-drop__anchor" href="#">Drop anchor</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock snippet_preview %}
{% endembed %}


<h2 class="ts-section__sub-heading">Footer</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'twig': '<footer class="vict-navbar">\n    <div class="vic-container vic-container--fluid">\n        <div class="vic-flex-grid vic-flex-grid--align-center">\n            <div class="vic-flex-col vic-flex-col--grow-1 vic-flex-col--shrink-0 vic-flex-col--basis-0">\n                <button class="vic-btn vic-btn--transparent vic-drop-trigger--no-toggle" data-flag="drops" data-position="topout leftin" data-href="#navbar-footer-drop-1">\n                    {% include "@SVG/menu.html.twig" %}\n                </button>\n\n                <div class="vic-drop" id="navbar-footer-drop-1">\n                    <nav class="vic-drop__menu">\n                        <a class="vic-drop__anchor" href="#">Business Entities</a>\n                        <a class="vic-drop__anchor" href="#">Special pages</a>\n                    </nav>\n                </div>\n            </div>\n\n            <div class="vic-flex-col vic-flex-col--grow-1 vic-flex-col--shrink-0 vic-flex-col--basis-0 vic-text-align--center">\n                {% include "@bricks/mode-switcher.html.twig" with {\n                    "name": "mode-switcher",\n                    "startMode": "preview",\n                } %}\n            </div>\n\n            <div class="vic-flex-col vic-flex-col--grow-1 vic-flex-col--shrink-0 vic-flex-col--basis-0 vic-text-align--right">\n                <button class="vic-btn vic-btn--sm vic-btn--transparent" data-flag="drops" data-position="topout rightin" data-href="#navbar-footer-drop-2">\n                    {% include "@SVG/template.html.twig" %}\n                </button>\n\n                <div class="vic-drop" id="navbar-footer-drop-2">\n                    <nav class="vic-drop__menu">\n                        <a class="vic-drop__anchor" href="#">dropdown item</a>\n                        <a class="vic-drop__anchor" href="#">dropdown item</a>\n                    </nav>\n                </div>\n\n                <a class="vic-btn vic-btn--sm vic-btn--transparent" href="#">\n                    {% include "@SVG/cogs.html.twig" %}\n                </a>\n\n                <a class="vic-btn vic-btn--sm vic-btn--transparent" href="#">\n                    <span class="vic-seo vic-seo--success">seo</span>\n                </a>\n            </div>\n        </div>\n    </div>\n</footer>',
    }
} %}
    {% block snippet_preview %}
        <footer class="vict-navbar">
            <div class="vic-container vic-container--fluid">
                <div class="vic-flex-grid vic-flex-grid--align-center">
                    <div class="vic-flex-col vic-flex-col--grow-1 vic-flex-col--shrink-0 vic-flex-col--basis-0">
                        <button class="vic-btn vic-btn--transparent vic-drop-trigger--no-toggle" data-flag="drops" data-position="topout leftin" data-href="#navbar-footer-drop-1">
                            {% include "@SVG/menu.html.twig" %}
                        </button>

                        <div class="vic-drop" id="navbar-footer-drop-1">
                            <nav class="vic-drop__menu">
                                <a class="vic-drop__anchor" href="#">Business Entities</a>
                                <a class="vic-drop__anchor" href="#">Special pages</a>
                            </nav>
                        </div>
                    </div>

                    <div class="vic-flex-col vic-flex-col--grow-1 vic-flex-col--shrink-0 vic-flex-col--basis-0 vic-text-align--center">
                        {% include "@bricks/mode-switcher.html.twig" with {
                            "name": "mode-switcher",
                            "startMode": "preview",
                        } %}
                    </div>

                    <div class="vic-flex-col vic-flex-col--grow-1 vic-flex-col--shrink-0 vic-flex-col--basis-0 vic-text-align--right">
                        <button class="vic-btn vic-btn--sm vic-btn--transparent" data-flag="drops" data-position="topout rightin" data-href="#navbar-footer-drop-2">
                            {% include "@SVG/template.html.twig" %}
                        </button>

                        <div class="vic-drop" id="navbar-footer-drop-2">
                            <nav class="vic-drop__menu">
                                <a class="vic-drop__anchor" href="#">dropdown item</a>
                                <a class="vic-drop__anchor" href="#">dropdown item</a>
                            </nav>
                        </div>

                        <a class="vic-btn vic-btn--sm vic-btn--transparent" href="#">
                            {% include "@SVG/cogs.html.twig" %}
                        </a>

                        <a class="vic-btn vic-btn--sm vic-btn--transparent" href="#">
                            <span class="vic-seo vic-seo--success">seo</span>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock snippet_preview %}
{% endembed %}


<h2 class="ts-section__sub-heading">Vertical navbar</h2>
{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '',
    }
} %}
    {% block snippet_preview %}
        <nav class="vict-navbar vict-navbar--vertical" style="height: 350px">
            <div class="vic-flex-grid vic-flex-grid--direction-column">
                <div class="vic-flex-col">
                    <a href="#" class="vic-btn vic-btn--square vic-btn--warning">
                        {% include '@SVG/locale.html.twig' %}

                        fr
                    </a>
                </div>

                <div class="vic-flex-col">
                    <a href="#" class="vic-btn vic-btn--square vic-btn--locale">
                        {% include '@SVG/locale.html.twig' %}

                        en
                    </a>
                </div>

                <div class="vic-flex-col">
                    <a href="#" class="vic-btn vic-btn--square vic-btn--locale">
                        {% include '@SVG/locale.html.twig' %}

                        al
                    </a>
                </div>

                <div class="vic-flex-col">
                    <a href="#" class="vic-btn vic-btn--square vic-btn--transparent">
                        {% include '@SVG/locale-add.html.twig' %}
                    </a>
                </div>
            </div>
        </nav>
    {% endblock snippet_preview %}
{% endembed %}
