{% include "@styleguide/ui/section-header.html.twig" with {
    "name": "seo",
} %}

{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '<span class="v-seo v-seo--success">seo</span>\n<span class="v-seo v-seo--danger">seo</span>\n<span class="v-seo v-seo--warning">seo</span>',
    }
} %}
    {% block snippet_preview %}
        <span class="v-seo v-seo--success">seo</span> <br>
        <span class="v-seo v-seo--danger">seo</span> <br>
        <span class="v-seo v-seo--warning">seo</span>
    {% endblock snippet_preview %}
{% endembed %}
