{% include "@styleguide/ui/section-header.html.twig" with {
    "name": "Widgets",
} %}

{% embed '@styleguide/ui/snippet.html.twig' with {
    'snippets': {
        'html': '<div class="vic-widget">\n    <a class="vic-widget__overlay">\n        <svg class="vic-widget__overlay-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">\n            <rect width="80" height="80" fill="currentColor" transform="rotate(-90 40 40)" rx="40" fill-rule="evenodd"/>\n            <path fill="rgb(255, 255, 255)" d="M24.7717 53.005l3.2255 3.2254 6.4984-2.308-7.4158-7.4173-2.308 6.5zm-1.7758 5.0013l3.77-1.374-2.3963-2.3962-1.374 3.7704zm34.289-29.984l-4.3193-4.3178c-.9537-.9538-2.507-.9468-3.469.0154l-2.668 2.668 7.7728 7.773 2.668-2.6683c.9622-.962.9692-2.5153.0155-3.4705zM27.682 45.4856l7.8332 7.833 18.3092-18.3062-7.8346-7.8332L27.682 45.4856z" fill-rule="evenodd"/>\n        </svg>\n    </a>\n\n    ...\n</div>',
    }
} %}
    {% block snippet_preview %}
        <div class="vic-widget">
            <a class="vic-widget__overlay">
                <svg class="vic-widget__overlay-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                    <rect width="80" height="80" fill="currentColor" transform="rotate(-90 40 40)" rx="40" fill-rule="evenodd"/>
                    <path fill="rgb(255, 255, 255)" d="M24.7717 53.005l3.2255 3.2254 6.4984-2.308-7.4158-7.4173-2.308 6.5zm-1.7758 5.0013l3.77-1.374-2.3963-2.3962-1.374 3.7704zm34.289-29.984l-4.3193-4.3178c-.9537-.9538-2.507-.9468-3.469.0154l-2.668 2.668 7.7728 7.773 2.668-2.6683c.9622-.962.9692-2.5153.0155-3.4705zM27.682 45.4856l7.8332 7.833 18.3092-18.3062-7.8346-7.8332L27.682 45.4856z" fill-rule="evenodd"/>
                </svg>
            </a>

            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    {% endblock snippet_preview %}
{% endembed %}
