.ts-header {
  @include styleguide-base;
  @include layout-border('bottom');
  position: fixed;
  top: 0;
  right: 0;
  left: $sidebar--width;
  height: $header--height;
  background-color: $header--background-color;
  padding: rem(1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  z-index: 1000;

  @include when-inside('.is-nosidebar') {
    @include large-viewport {
      left: 0;
    }
  }

  #vic-admin-menu ~ .ts-main & {
    top: 40px;
  }

  @include small-viewport {
    left: 0;
  }
}

.ts-header--focus {
  left: 0;
}

.ts-header__heading {
  text-transform: lowercase;
  font-variant: small-caps;
  margin: 0;
  font-weight: font-weight('light');
  font-size: font-size('large');
  letter-spacing: 0.08em;
  margin-left: rem();
}

.ts-header__title {
  display: flex;
  align-items: center;
}

.ts-header__anchor {
  text-transform: uppercase;
  font-size: font-size('small');

  &:hover {
    color: color('red');
  }
}

button {
  &.ts-header__anchor {
    @include reset-button;
    cursor: pointer;
  }
}

a {
  &.ts-header__anchor {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
}

.ts-header__anchor--go-sidebar {
  @include large-viewport {
    display: none;
  }
}
