.ts-main {
  margin-top: $header--height;
  margin-left: $sidebar--width;
  padding: $main--padding;
  overflow-x: hidden;
  background-color: $main--background-color;

  @include when-inside('.is-nosidebar') {
    @include large-viewport {
      margin-left: 0;
    }
  }

  @include small-viewport {
    margin-left: 0;
    margin-top: 0;
  }
}

.ts-main--focus {
  margin-left: 0;
}
