.ts-section {
  &:not(.ts-section--focus) {
    padding-top: $sidebar-toggle--height - ($sidebar--border-width * 2);
  }
}

.ts-section__heading {
  @include styleguide-base;
  @include layout-border('top');
  margin: 0;
  font-size: 30px;
  font-weight: font-weight('bold');
  padding-top: $main--padding;
  margin-bottom: rem(0.5);
  line-height: 1;
}

.ts-section__sub-heading {
  @include styleguide-base;
  margin: 0 0 rem();
  font-size: 20px;
  font-weight: font-weight('bold');
  padding-top: $main--padding;
  margin-bottom: rem(0.5);
  line-height: 1;
}


.ts-section__infos {
  @include styleguide-base;
  color: color('gray-dark');
  font-weight: font-weight('light');
  font-size: font-size('small');
  margin-bottom: rem(1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: lowercase;
}

.ts-section__label-info {
  font-weight: inherit;
  font-size: inherit;

  @include small-viewport {
    display: none;
  }
}

.ts-section__info-anchor {
  color: color('red');
  font-weight: inherit;
  font-size: inherit;
}

.ts-section__focus-btn {
  font-size: 10px;
}
