{% trans_default_domain "victoire" %}

{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% block modal_container_classes %}{{ parent() }} vic-page-modal{% endblock modal_container_classes %}

{% block modal_body_content %}
	<div class="vic-container vic-masthead">
	{%  for businessEntity in businessEntities %}
	    <div>
		    <a data-toggle="vic-modal" href="{{ path('victoire_businessentitytemplate_businessentity_list', {'id': businessEntity.getId}) }}">
		        {{ businessEntity.getName }}
		    </a>
	    </div>
	{% endfor %}
	</div>
{% endblock modal_body_content %}
