{% extends 'VictoireCoreBundle::layout.html.twig' %}

{% block content %}
<div class="vic-container vic-masthead">
{%  for businessEntity in businessEntities %}
    <div>
	    <a href="{{ path('victoire_businessentitytemplate_businessentity_list', {'id': businessEntity.getId}) }}">
	        {{ businessEntity.getName }}
	    </a>
    </div>
{% endfor %}
</div>
{% endblock content %}
