// scss-lint:disable ColorVariable
@import '../../../globals/params/rem';
@import '../../../globals/params/font';
@import '../../../globals/params/color';
@import '../../../globals/params/ui-mode';

$listgroups--font-size: rem();
$listgroups--font-family: $app--font-family;
$listgroups--font-weight: font-weight();
$listgroups--text-transform: null;
$listgroups--letter-spacing: null;
$listgroups--line-height: 1.25;
$listgroups--border-width: 1px;
$listgroups--border-style: solid;
$listgroups--border-color: color('grey', 'lighter');
$listgroups--border-radius: 0.1875em;
$listgroups--box-shadow: null;
$listgroups--text-align: null;
$listgroups--margin: 2em 0;
$listgroups--color: null;
$listgroups--text-decoration: null;
$listgroups--background-color: null;

$listgroups-item--padding-x: 0.625em;
$listgroups-item--padding-y: 0.625em;
$listgroups-item-in-cascade--padding-y: 1.25em;
