{% trans_default_domain "FOSUserBundle" %}
<div class="vic-form-group">
    {% if invalid_username is defined %}
    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
    {% endif %}
    <span class="vic-input-kaede">
        <input class="field" type="text" id="username" name="username" value="" required="required"/>
        <label class="label" for="username">
            <span class="labelContent">{{ 'victoire.login.mail.label'|trans({}, 'victoire') }}</span>
        </label>
    </span>
</div>

<div class="vic-form-group vic-text-center">
    <button class="vic-btn vic-btn-success vic-btn-block" type="submit" id="_submit" name="_submit">{{ 'victoire.reset.request.submit.label'|trans({}, 'victoire') }}</button>
</div>