{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
</form>
{% endblock fos_user_content %}

{% block modal_footer %}
    <input type="submit" class="btn btn-info btn-block" value="{{ 'resetting.reset.submit'|trans }}" />
{% endblock modal_footer %}
