{% trans_default_domain "victoire" %}

{% extends 'VictoireCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>BusinessEntityTemplate edit</h1>
    {{ form(edit_form) }}
    <ul class="record_actions">
	    <li>
	        <a href="{{ path('victoire_businessentitytemplate_businessentitytemplate_create') }}">
	            Back to the list
	        </a>
	    </li>
	    <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
