{% extends 'VictoireCoreBundle::layout.html.twig' %}

{% block content %}
<div class="vic-container vic-masthead">
    <div>
	        {{ businessEntity.getName }}
    </div>
</div>
{% endblock content %}
