{% trans_default_domain "victoire" %}

{% extends 'VictoireCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ 'business_entity_template.creation.title'|trans }}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('victoire_businessentitytemplate_businessentitytemplate_create') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
