services:

    victoire_core.widget.form.type:
        class: Victoire\Bundle\CoreBundle\Form\WidgetType
        tags:
            - { name: form.type }

    victoire_core.entity_proxy.form.type:
        class: Victoire\Bundle\CoreBundle\Form\EntityProxyFormType
        arguments:
            - "@doctrine.orm.entity_manager"
            - "@request_stack"
            - "@victoire_api_business_entity.resolver.api_business_entity_resolver"
        tags:
            - { name: form.type }

    victoire_core.widget_fields.form.type:
        class: Victoire\Bundle\CoreBundle\Form\WidgetFieldsFormType
        arguments:
            - "@victoire_core.entity_proxy.fields_builder"
        tags:
            - { name: form.type }
