services:

    victoire_core.widget.form.type:
        class: Victoire\Bundle\CoreBundle\Form\WidgetType
        tags:
            - { name: form.type, alias: widget }

    victoire_core.entity_proxy.form.type:
        class: Victoire\Bundle\CoreBundle\Form\EntityProxyFormType
        arguments:
            - "@victoire_core.helper.business_entity_helper"
        tags:
            - { name: form.type, alias: entity_proxy }

    victoire_core.widget_fields.form.type:
        class: Victoire\Bundle\CoreBundle\Form\WidgetFieldsFormType
        arguments:
            - "@victoire_core.entity_proxy.fields_builder"
        tags:
            - { name: form.type, alias: widget_fields }
