/// Generate declarations in order to set the ratio width/height equals to the
/// argument passed.
/// @access public
/// @author Jakob Eriksen
/// @example
///   .class { @include aspect-ratio(); }            // no arguments defaults to a 1:1 ratio
///   .class { @include aspect-ratio(16, 9); }       // width and height
///   .class { @include aspect-ratio(1.777778); }    // ratio (calculated width/height)
///   .class { @include aspect-ratio(4px, 3px); }    // comparable units
///   .class { @include aspect-ratio($ratio: 1.2); } // keywords
/// @group code generator helpers
/// @source http://codepen.io/jakob-e/pen/WvrJwN The original codepen it comes from
/// @name aspect-ratio
/// @output ::before and ::after elements css declarations
/// @param {numbers | list} $ratio [1]
/// @since 1.0.0
@mixin aspect-ratio($arglist...) {
  $map: keywords($arglist);
  $height: map-get($map, height) or nth-or-null($arglist, 2);
  $width: map-get($map, width) or nth-or-null($arglist, 1);
  $ratio: map-get($map, ratio) or if($width and $height, $width / $height, nth-or-null($arglist, 1)) or 1;
  $padding: 1 / $ratio * 100%;

  &::before {
    content: '';
    float: left;
    padding-bottom: $padding;
  }

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}


@mixin aspect-ratio-responsive($values, $philosophy: 'mobile-first') {
  @if mixin-exists(media-query) and function-exists(is-breakpoint) {
    @if type-of($values) == 'map' {
      @each $tag, $value in $values {
        @if is-breakpoint($tag) {
          @include media-query($tag, $philosophy) {
            @include aspect-ratio($value);
          }
        } @elseif $tag == 'default' {
          @include aspect-ratio($value);
        } @else {
          @error 'If the responsive-values mixin first param is a map, it must have as key a breakpoint-tag setted into the $breakpoints map or the "default" string';
        }
      }
    } @else {
      @include aspect-ratio($values);
    }
  } @else {
    @error 'You cannot use this mixin without included first trowel-responsive';
  }
}
