// Select
// ------

.#{$form--prefix}-select__native {
  padding-top: 0;
}

.#{$form--prefix}-select {
  display: block;
}

.#{$form--prefix}-select::after {
  background-image: url('/bundles/victoireui/images/components/form/select--caret.svg');
  background-repeat: no-repeat;
}
