{% trans_default_domain "victoire" %}
<div class="control-well">
    <a data-toggle="modal" href="#" class="block-handle"><i class="icon-move"></i></a>
    <a data-toggle="modal" href="{{path('victoire_core_widget_edit', {'id':widget.id})}}"><i class="icon-pencil"></i></a>
    <a href="#" ><i class="icon-trash"></i></a>
</div>
