@vic-businessProperties-top: 90px;
@vic-businessProperty-marginVertical: 2px;
@vic-businessProperty-marginHorizontal: 10px;
@vic-businessProperty-padding: 3px;
@vic-businessProperty-borderWidth: 1px;
@vic-businessProperty-borderRadius: 4px;
@vic-businessIdentifier-borderWidth: 1px;