{% extends 'VictoireCoreBundle:Layout:frontLayout.html.twig' %}

{% block content %}
    <div class="vic-row">
        <div class="vic-col-md-8">
            {{ cms_slot_widgets('content') }}
        </div>
        <div class="vic-col-md-4">
            {{ cms_slot_widgets('content_sidebar') }}
        </div>
    </div>
{% endblock content %}
